pipeline/pl_child_file_to_db.json
{
	"name": "pl_child_file_to_db",
	"properties": {
		"description": "Child pipeline: imports an ADLS file (CSV) into a SQL table. Config-driven via config.IntegrationConfig. Invoked by master orchestrator with p_integration_id and p_master_run_id. User Story 120891.",
		"activities": [
			{
				"name": "if_lock_acquired",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('sv_lock_check'), true)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "fail_lock_not_acquired",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat(\n    'Execution failed because an active integration lock already exists and has not yet expired. Please verify and release the lock if required. ',\n    'IntegrationId=', string(pipeline().parameters.p_integration_id),\n    ', IntegrationName=', pipeline().parameters.p_integration_name,\n    ', PipelineRunId=', pipeline().RunId\n)",
									"type": "Expression"
								},
								"errorCode": "LOCK_NOT_ACQUIRED"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "wb_get_subscription_key",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@pipeline().globalParameters.gp_kv_subscription_key_url",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://vault.azure.net"
								}
							}
						},
						{
							"name": "sv_subscription_key",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "wb_get_subscription_key",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_subscription_key",
								"value": {
									"value": "@activity('wb_get_subscription_key').output.value",
									"type": "Expression"
								}
							}
						},
						{
							"name": "sp_release_runlock1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "wb_get_subscription_key",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_ReleaseRunLock]",
								"storedProcedureParameters": {
									"IntegrationId": {
										"value": {
											"value": "@pipeline().parameters.p_integration_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    pipeline().RunId\n)",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_sql",
								"type": "LinkedServiceReference",
								"parameters": {
									"p_db_domain_name": {
										"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"type": "Expression"
									},
									"p_db_name": {
										"value": "@pipeline().globalParameters.DB_NAME",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "lkp_get_integration_trigger",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[config].[usp_GetIntegrationConfig]",
									"storedProcedureParameters": {
										"IntegrationId": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.p_integration_id",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql",
									"type": "DatasetReference",
									"parameters": {
										"p_schema": "config",
										"p_table": "IntegrationConfig",
										"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"p_db_name": "@pipeline().globalParameters.DB_NAME"
									}
								}
							}
						},
						{
							"name": "sv_integration_trigger",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lkp_get_integration_trigger",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "sv_integration_details",
								"value": {
									"value": "@string(activity('lkp_get_integration_trigger').output.firstRow)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "sp_lkp_fail_release_runlock",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "lkp_get_integration_trigger",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_ReleaseRunLock]",
								"storedProcedureParameters": {
									"IntegrationId": {
										"value": {
											"value": "@pipeline().parameters.p_integration_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    pipeline().RunId\n)",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_sql",
								"type": "LinkedServiceReference",
								"parameters": {
									"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
									"p_db_name": "@pipeline().globalParameters.DB_NAME"
								}
							}
						}
					]
				}
			},
			{
				"name": "lkp_get_integration_config",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "if_lock_acquired",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[config].[usp_GetIntegrationConfig]",
						"storedProcedureParameters": {
							"IntegrationId": {
								"type": "Int64",
								"value": {
									"value": "@pipeline().parameters.p_integration_id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql",
						"type": "DatasetReference",
						"parameters": {
							"p_schema": "config",
							"p_table": "IntegrationConfig",
							"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
							"p_db_name": "@pipeline().globalParameters.DB_NAME"
						}
					}
				}
			},
			{
				"name": "sv_config",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkp_get_integration_config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_config_json",
					"value": {
						"value": "@string(activity('lkp_get_integration_config').output.firstRow)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "gm_list_source_files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "sv_config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_binary_blk",
						"type": "DatasetReference",
						"parameters": {
							"p_container_name": {
								"value": "@pipeline().parameters.p_source_container",
								"type": "Expression"
							},
							"p_folder_path": {
								"value": "@pipeline().parameters.p_source_path",
								"type": "Expression"
							},
							"p_file_name": "*",
							"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "flt_filter_source_files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "gm_list_source_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('gm_list_source_files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(or(endswith(item().name, '.csv'), endswith(item().name, '.json')), endswith(item().name, '.parquet'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "fe_files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "flt_filter_source_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('flt_filter_source_files').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "lkp_start_run",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "gm_get_file_metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[audit].[usp_StartRun]",
									"storedProcedureParameters": {
										"AdfPipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"BatchDate": {
											"type": "DateTime",
											"value": {
												"value": "@pipeline().parameters.p_batch_date",
												"type": "Expression"
											}
										},
										"ChildRunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"EnvironmentName": {
											"type": "String",
											"value": {
												"value": "@pipeline().globalParameters.EnvironmentName",
												"type": "Expression"
											}
										},
										"IntegrationId": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.p_integration_id",
												"type": "Expression"
											}
										},
										"MasterRunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.p_master_run_id",
												"type": "Expression"
											}
										},
										"RetryAttempt": {
											"type": "Int32",
											"value": "1"
										},
										"SourceFileChecksum": {
											"type": "String",
											"value": null
										},
										"SourceFileName": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										"SourceFilePath": {
											"type": "String",
											"value": {
												"value": "@concat(pipeline().parameters.p_source_container,'/',pipeline().parameters.p_source_path)",
												"type": "Expression"
											}
										},
										"SourceFileSizeBytes": {
											"type": "Int64",
											"value": {
												"value": "@activity('gm_get_file_metadata').output.size",
												"type": "Expression"
											}
										},
										"TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.p_trigger_type",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql",
									"type": "DatasetReference",
									"parameters": {
										"p_schema": "config",
										"p_table": "IntegrationConfig",
										"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"p_db_name": "@pipeline().globalParameters.DB_NAME"
									}
								}
							}
						},
						{
							"name": "gm_get_file_metadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls_binary_blk",
									"type": "DatasetReference",
									"parameters": {
										"p_container_name": {
											"value": "@pipeline().parameters.p_source_container",
											"type": "Expression"
										},
										"p_folder_path": {
											"value": "@pipeline().parameters.p_source_path",
											"type": "Expression"
										},
										"p_file_name": "@item().name",
										"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
									}
								},
								"fieldList": [
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "sv_run_id",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lkp_start_run",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_run_id",
								"value": {
									"value": "@activity('lkp_start_run').output.firstRow.RunId",
									"type": "Expression"
								}
							}
						},
						{
							"name": "if_valid_file",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "sv_init_preprocess",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('gm_get_file_metadata').output.size,0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "cp_file_to_quarantine",
										"description": "Moves file to quarantine container",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"deleteFilesAfterCompletion": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": {
														"value": "@pipeline().parameters.p_source_container",
														"type": "Expression"
													},
													"p_folder_path": {
														"value": "@pipeline().parameters.p_source_path",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": "quarantine",
													"p_folder_path": {
														"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(utcNow(),'yyyy'),\n    '/',\n    formatDateTime(utcNow(),'MM'),\n    '/',\n    formatDateTime(utcNow(),'dd'),\n    '/'\n)",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
												}
											}
										]
									},
									{
										"name": "complete_run_failure_empty",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "cp_file_to_quarantine",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
												"storedProcedureParameters": {
													"ErrorActivity": {
														"type": "String",
														"value": "if_valid_file"
													},
													"ErrorCode": {
														"type": "String",
														"value": null
													},
													"ErrorMessage": {
														"type": "String",
														"value": "0 byte file"
													},
													"RecordsRead": {
														"type": "Int64",
														"value": null
													},
													"RecordsRejected": {
														"type": "Int64",
														"value": null
													},
													"RecordsSkipped": {
														"type": "Int64",
														"value": null
													},
													"RecordsWritten": {
														"type": "Int64",
														"value": null
													},
													"RunId": {
														"type": "Int64",
														"value": {
															"value": "@variables('v_run_id')",
															"type": "Expression"
														}
													},
													"Status": {
														"type": "Int32",
														"value": "6"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql",
												"type": "DatasetReference",
												"parameters": {
													"p_schema": "config",
													"p_table": "IntegrationConfig",
													"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
													"p_db_name": "@pipeline().globalParameters.DB_NAME"
												}
											}
										}
									},
									{
										"name": "fail_empty_file",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "complete_run_failure_empty",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": "File validation failed. The source file contains 0 bytes and has been moved to the quarantine location. Processing has been terminated for this file.",
											"errorCode": "ERR_INVALID_FILE_001"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "wb_preprocess",
										"description": "Invokes the pre-process azure function and passes 3 parameters to perform file validation",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 1,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"method": "POST",
											"headers": {
												"Content-Type": "application/json",
												"Ocp-Apim-Subscription-Key": {
													"value": "@variables('v_subscription_key')",
													"type": "Expression"
												},
												"CORRELATION_ID": {
													"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    activity('lkp_start_run').output.firstRow.RunId\n)",
													"type": "Expression"
												}
											},
											"url": {
												"value": "@{pipeline().globalParameters.gp_preprocess_function_url}",
												"type": "Expression"
											},
											"body": {
												"value": "{\n  \"IntegrationId\": @{json(variables('v_config_json')).IntegrationId},\n  \"FileName\": \"@{item().name}\",\n  \"FilePath\": \"@{concat(\n      pipeline().parameters.p_source_container,\n      '/',\n      pipeline().parameters.p_source_path\n  )}\",\n  \"ValidationSchemaId\": @{coalesce(json(variables('v_config_json')).ValidationSchemaId, 0)},\n  \"ExpectedMinRecords\": @{json(variables('v_config_json')).ExpectedMinRecords}\n}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "sv_preprocess",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "wb_preprocess",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_preprocess",
											"value": {
												"value": "@string(activity('wb_preprocess').output.IsValid)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "sv_preprocess_fail",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "wb_preprocess",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_preprocess",
											"value": "False"
										}
									},
									{
										"name": "cp_file_to_quarantine_preprocess_fail",
										"description": "Moves file to quarantine container",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "wb_preprocess",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": false,
													"deleteFilesAfterCompletion": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": {
														"value": "@pipeline().parameters.p_source_container",
														"type": "Expression"
													},
													"p_folder_path": {
														"value": "@pipeline().parameters.p_source_path",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": "quarantine",
													"p_folder_path": {
														"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
												}
											}
										]
									},
									{
										"name": "lkp_log_error_preprocess",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "wb_preprocess",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[audit].[usp_LogError]",
												"storedProcedureParameters": {
													"ActivityName": {
														"type": "String",
														"value": "wb_preprocess"
													},
													"ActivityType": {
														"type": "String",
														"value": "Web"
													},
													"ErrorCode": {
														"type": "String",
														"value": {
															"value": "@activity('wb_preprocess').error.errorCode",
															"type": "Expression"
														}
													},
													"ErrorMessage": {
														"type": "String",
														"value": {
															"value": "@activity('wb_preprocess').error.message",
															"type": "Expression"
														}
													},
													"RunId": {
														"type": "Int64",
														"value": {
															"value": "@variables('v_run_id')",
															"type": "Expression"
														}
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql",
												"type": "DatasetReference",
												"parameters": {
													"p_schema": "config",
													"p_table": "IntegrationConfig",
													"p_db_domain_name": {
														"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
														"type": "Expression"
													},
													"p_db_name": {
														"value": "@pipeline().globalParameters.DB_NAME",
														"type": "Expression"
													}
												}
											}
										}
									},
									{
										"name": "lkp_complete_run_preprocess_fail",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "wb_preprocess",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
												"storedProcedureParameters": {
													"ErrorActivity": {
														"type": "String",
														"value": "wb_preprocess"
													},
													"ErrorCode": {
														"type": "String",
														"value": {
															"value": "@activity('wb_preprocess').error.errorCode",
															"type": "Expression"
														}
													},
													"ErrorMessage": {
														"type": "String",
														"value": {
															"value": "@activity('wb_preprocess').error.message",
															"type": "Expression"
														}
													},
													"RecordsRead": {
														"type": "Int64",
														"value": null
													},
													"RecordsRejected": {
														"type": "Int64",
														"value": null
													},
													"RecordsSkipped": {
														"type": "Int64",
														"value": null
													},
													"RecordsWritten": {
														"type": "Int64",
														"value": null
													},
													"RunId": {
														"type": "Int64",
														"value": {
															"value": "@variables('v_run_id')",
															"type": "Expression"
														}
													},
													"Status": {
														"type": "Int32",
														"value": "3"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql",
												"type": "DatasetReference",
												"parameters": {
													"p_schema": "config",
													"p_table": "IntegrationConfig",
													"p_db_domain_name": {
														"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
														"type": "Expression"
													},
													"p_db_name": {
														"value": "@pipeline().globalParameters.DB_NAME",
														"type": "Expression"
													}
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "if_valid_preprocess_file",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "if_valid_file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(variables('v_preprocess'), 'True')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "cp_file_to_quarantine_1",
										"description": "",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "lkp_sp_log_validation_failure",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"deleteFilesAfterCompletion": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": {
														"value": "@pipeline().parameters.p_source_container",
														"type": "Expression"
													},
													"p_folder_path": {
														"value": "@pipeline().parameters.p_source_path",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": "quarantine",
													"p_folder_path": {
														"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
												}
											}
										]
									},
									{
										"name": "lkp_sp_log_validation_failure",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[audit].[usp_LogError]",
												"storedProcedureParameters": {
													"ActivityName": {
														"type": "String",
														"value": "wb_preprocess"
													},
													"ActivityType": {
														"type": "String",
														"value": "web"
													},
													"ErrorCode": {
														"type": "String",
														"value": {
															"value": "@string(activity('wb_preprocess').output.errorCode)",
															"type": "Expression"
														}
													},
													"ErrorMessage": {
														"type": "String",
														"value": {
															"value": "@string(activity('wb_preprocess').output.errors)",
															"type": "Expression"
														}
													},
													"RunId": {
														"type": "Int64",
														"value": {
															"value": "@variables('v_run_id')",
															"type": "Expression"
														}
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql",
												"type": "DatasetReference",
												"parameters": {
													"p_schema": "config",
													"p_table": "IntegrationConfig",
													"p_db_domain_name": {
														"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
														"type": "Expression"
													},
													"p_db_name": {
														"value": "@pipeline().globalParameters.DB_NAME",
														"type": "Expression"
													}
												}
											}
										}
									},
									{
										"name": "complete_run_failure_preprocess",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "cp_file_to_quarantine_1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
												"storedProcedureParameters": {
													"ErrorActivity": {
														"type": "String",
														"value": "wb_preprocess"
													},
													"ErrorCode": {
														"type": "String",
														"value": {
															"value": "@string(activity('wb_preprocess').output.ErrorCode)",
															"type": "Expression"
														}
													},
													"ErrorMessage": {
														"type": "String",
														"value": {
															"value": "@string(activity('wb_preprocess').output.Errors)",
															"type": "Expression"
														}
													},
													"RecordsRead": {
														"type": "Int64",
														"value": null
													},
													"RecordsRejected": {
														"type": "Int64",
														"value": null
													},
													"RecordsSkipped": {
														"type": "Int64",
														"value": null
													},
													"RecordsWritten": {
														"type": "Int64",
														"value": null
													},
													"RunId": {
														"type": "Int64",
														"value": {
															"value": "@variables('v_run_id')",
															"type": "Expression"
														}
													},
													"Status": {
														"type": "Int32",
														"value": "6"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql",
												"type": "DatasetReference",
												"parameters": {
													"p_schema": "config",
													"p_table": "IntegrationConfig",
													"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
													"p_db_name": "@pipeline().globalParameters.DB_NAME"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "sw_file_format",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "if_valid_preprocess_file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@if(equals(variables('v_preprocess'), 'True'), last(split(item().name, '.')), 'SKIP')",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "csv",
										"activities": [
											{
												"name": "cp_csv_to_sql",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_adls_delimited_src",
														"type": "DatasetReference",
														"parameters": {
															"p_container": {
																"value": "@pipeline().parameters.p_source_container",
																"type": "Expression"
															},
															"p_folder": {
																"value": "@pipeline().parameters.p_source_path",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "@first(split(json(variables('v_config_json')).TargetTableName, '.'))",
															"p_table": "@last(split(json(variables('v_config_json')).TargetTableName, '.'))",
															"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
															"p_db_name": "@pipeline().globalParameters.DB_NAME"
														}
													}
												]
											},
											{
												"name": "lkp_log_error_csv",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_csv_to_sql",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_LogError]",
														"storedProcedureParameters": {
															"ActivityName": {
																"type": "String",
																"value": "cp_file_pass_through"
															},
															"ActivityType": {
																"type": "String",
																"value": "Copy data"
															},
															"ErrorCode": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_csv_to_sql').error.errorCode",
																	"type": "Expression"
																}
															},
															"ErrorMessage": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_csv_to_sql').error.message",
																	"type": "Expression"
																}
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "cp_archive_csv",
												"description": "Moves file to archive container",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "cp_csv_to_sql",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": {
																"value": "@pipeline().parameters.p_source_container",
																"type": "Expression"
															},
															"p_folder_path": {
																"value": "@pipeline().parameters.p_source_path",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "archive",
															"p_folder_path": {
																"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												]
											},
											{
												"name": "complete_run_success_csv",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_archive_csv",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
														"storedProcedureParameters": {
															"ErrorActivity": {
																"type": "String",
																"value": null
															},
															"ErrorCode": {
																"type": "String",
																"value": null
															},
															"ErrorMessage": {
																"type": "String",
																"value": null
															},
															"RecordsRead": {
																"type": "Int64",
																"value": {
																	"value": "@activity('cp_csv_to_sql').output.rowsRead",
																	"type": "Expression"
																}
															},
															"RecordsRejected": {
																"type": "Int64",
																"value": null
															},
															"RecordsSkipped": {
																"type": "Int64",
																"value": null
															},
															"RecordsWritten": {
																"type": "Int64",
																"value": {
																	"value": "@activity('cp_csv_to_sql').output.rowsCopied",
																	"type": "Expression"
																}
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															},
															"Status": {
																"type": "Int32",
																"value": "2"
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
															"p_db_name": "@pipeline().globalParameters.DB_NAME"
														}
													}
												}
											},
											{
												"name": "cp_quarantine_csv",
												"description": "",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "lkp_log_error_csv",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": {
																"value": "@pipeline().parameters.p_source_container",
																"type": "Expression"
															},
															"p_folder_path": {
																"value": "@pipeline().parameters.p_source_path",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "quarantine",
															"p_folder_path": {
																"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												]
											},
											{
												"name": "complete_run_failure_csv",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_quarantine_csv",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
														"storedProcedureParameters": {
															"ErrorActivity": {
																"type": "String",
																"value": "cp_csv_to_sql"
															},
															"ErrorCode": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_csv_to_sql').output.errors[0].Code",
																	"type": "Expression"
																}
															},
															"ErrorMessage": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_csv_to_sql').output.errors[0].Message",
																	"type": "Expression"
																}
															},
															"RecordsRead": {
																"type": "Int64",
																"value": {
																	"value": "@activity('cp_csv_to_sql').output.rowsRead",
																	"type": "Expression"
																}
															},
															"RecordsRejected": {
																"type": "Int64",
																"value": null
															},
															"RecordsSkipped": {
																"type": "Int64",
																"value": null
															},
															"RecordsWritten": {
																"type": "Int64",
																"value": {
																	"value": "@activity('cp_csv_to_sql').output.rowsCopied",
																	"type": "Expression"
																}
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															},
															"Status": {
																"type": "Int32",
																"value": "3"
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
															"p_db_name": "@pipeline().globalParameters.DB_NAME"
														}
													}
												}
											},
											{
												"name": "wb_postprocess_csv",
												"description": "Invokes the pre-process azure function and passes 3 parameters to perform file validation",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "complete_run_success_csv",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "POST",
													"headers": {
														"Content-Type": "application/json",
														"Ocp-Apim-Subscription-Key": {
															"value": "@variables('v_subscription_key')",
															"type": "Expression"
														},
														"CORRELATION_ID": {
															"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    activity('lkp_start_run').output.firstRow.RunId\n)",
															"type": "Expression"
														}
													},
													"url": {
														"value": "@{pipeline().globalParameters.gp_postprocess_function_url}",
														"type": "Expression"
													},
													"body": {
														"value": "{\n       \"integration_id\": \"@{json(variables('v_config_json')).IntegrationId}\",\n       \"pipeline_name\": \"@{pipeline().Pipeline}\",\n       \"run_id\": \"@{pipeline().RunId}\",\n       \"status\": \"Success\",\n       \"trigger_type\": \"@{pipeline().TriggerType}\"\n     }",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "json",
										"activities": [
											{
												"name": "cp_json_to_sql",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "JsonSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "JsonReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_json_src",
														"type": "DatasetReference",
														"parameters": {
															"p_container": {
																"value": "@pipeline().parameters.p_source_container",
																"type": "Expression"
															},
															"p_folder": {
																"value": "@pipeline().parameters.p_source_path",
																"type": "Expression"
															},
															"p_file": {
																"value": "@item().name",
																"type": "Expression"
															},
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "@first(split(json(variables('v_config_json')).TargetTableName, '.'))",
															"p_table": "@last(split(json(variables('v_config_json')).TargetTableName, '.'))",
															"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
															"p_db_name": "@pipeline().globalParameters.DB_NAME"
														}
													}
												]
											},
											{
												"name": "lkp_log_error_json",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_json_to_sql",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_LogError]",
														"storedProcedureParameters": {
															"ActivityName": {
																"type": "String",
																"value": "cp_file_pass_through"
															},
															"ActivityType": {
																"type": "String",
																"value": "Copy data"
															},
															"ErrorCode": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_json_to_sql').error.errorCode",
																	"type": "Expression"
																}
															},
															"ErrorMessage": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_json_to_sql').error.message",
																	"type": "Expression"
																}
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "cp_archive_json",
												"description": "Moves file to archive container",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "cp_json_to_sql",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": {
																"value": "@pipeline().parameters.p_source_container",
																"type": "Expression"
															},
															"p_folder_path": {
																"value": "@pipeline().parameters.p_source_path",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "archive",
															"p_folder_path": {
																"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												]
											},
											{
												"name": "complete_run_success_json",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_archive_json",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
														"storedProcedureParameters": {
															"ErrorActivity": {
																"type": "String",
																"value": null
															},
															"ErrorCode": {
																"type": "String",
																"value": null
															},
															"ErrorMessage": {
																"type": "String",
																"value": null
															},
															"RecordsRead": {
																"type": "Int64",
																"value": {
																	"value": "@activity('cp_json_to_sql').output.rowsRead",
																	"type": "Expression"
																}
															},
															"RecordsRejected": {
																"type": "Int64",
																"value": null
															},
															"RecordsSkipped": {
																"type": "Int64",
																"value": null
															},
															"RecordsWritten": {
																"type": "Int64",
																"value": {
																	"value": "@activity('cp_json_to_sql').output.rowsCopied",
																	"type": "Expression"
																}
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															},
															"Status": {
																"type": "Int32",
																"value": "2"
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
															"p_db_name": "@pipeline().globalParameters.DB_NAME"
														}
													}
												}
											},
											{
												"name": "cp_quarantine_json",
												"description": "",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "lkp_log_error_json",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": {
																"value": "@pipeline().parameters.p_source_container",
																"type": "Expression"
															},
															"p_folder_path": {
																"value": "@pipeline().parameters.p_source_path",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "quarantine",
															"p_folder_path": {
																"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												]
											},
											{
												"name": "complete_run_failure_json",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_quarantine_json",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
														"storedProcedureParameters": {
															"ErrorActivity": {
																"type": "String",
																"value": "cp_json_to_sql"
															},
															"ErrorCode": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_json_to_sql').output.errors[0].Code",
																	"type": "Expression"
																}
															},
															"ErrorMessage": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_json_to_sql').output.errors[0].Message",
																	"type": "Expression"
																}
															},
															"RecordsRead": {
																"type": "Int64",
																"value": {
																	"value": "@activity('cp_json_to_sql').output.rowsRead",
																	"type": "Expression"
																}
															},
															"RecordsRejected": {
																"type": "Int64",
																"value": null
															},
															"RecordsSkipped": {
																"type": "Int64",
																"value": null
															},
															"RecordsWritten": {
																"type": "Int64",
																"value": {
																	"value": "@activity('cp_json_to_sql').output.rowsCopied",
																	"type": "Expression"
																}
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															},
															"Status": {
																"type": "Int32",
																"value": "3"
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
															"p_db_name": "@pipeline().globalParameters.DB_NAME"
														}
													}
												}
											},
											{
												"name": "wb_postprocess_json",
												"description": "Invokes the pre-process azure function and passes 3 parameters to perform file validation",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "complete_run_success_json",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "POST",
													"headers": {
														"Content-Type": "application/json",
														"Ocp-Apim-Subscription-Key": {
															"value": "@variables('v_subscription_key')",
															"type": "Expression"
														},
														"CORRELATION_ID": {
															"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    activity('lkp_start_run').output.firstRow.RunId\n)",
															"type": "Expression"
														}
													},
													"url": {
														"value": "@{pipeline().globalParameters.gp_postprocess_function_url}",
														"type": "Expression"
													},
													"body": {
														"value": "{\n       \"integration_id\": \"@{json(variables('v_config_json')).IntegrationId}\",\n       \"pipeline_name\": \"@{pipeline().Pipeline}\",\n       \"run_id\": \"@{pipeline().RunId}\",\n       \"status\": \"Success\",\n       \"trigger_type\": \"@{pipeline().TriggerType}\"\n     }",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "parquet",
										"activities": [
											{
												"name": "cp_parquet_to_sql",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_adls_parquet_src",
														"type": "DatasetReference",
														"parameters": {
															"p_container": {
																"value": "@pipeline().parameters.p_source_container",
																"type": "Expression"
															},
															"p_folder": {
																"value": "@pipeline().parameters.p_source_path",
																"type": "Expression"
															},
															"p_file": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "@first(split(json(variables('v_config_json')).TargetTableName, '.'))",
															"p_table": "@last(split(json(variables('v_config_json')).TargetTableName, '.'))",
															"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
															"p_db_name": "@pipeline().globalParameters.DB_NAME"
														}
													}
												]
											},
											{
												"name": "lkp_log_error_parquet",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_parquet_to_sql",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_LogError]",
														"storedProcedureParameters": {
															"ActivityName": {
																"type": "String",
																"value": "cp_file_pass_through"
															},
															"ActivityType": {
																"type": "String",
																"value": "Copy data"
															},
															"ErrorCode": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_parquet_to_sql').error.errorCode",
																	"type": "Expression"
																}
															},
															"ErrorMessage": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_parquet_to_sql').error.message",
																	"type": "Expression"
																}
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "cp_archive_parquet",
												"description": "Moves file to archive container",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "cp_parquet_to_sql",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": {
																"value": "@pipeline().parameters.p_source_container",
																"type": "Expression"
															},
															"p_folder_path": {
																"value": "@pipeline().parameters.p_source_path",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "archive",
															"p_folder_path": {
																"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												]
											},
											{
												"name": "complete_run_success_parquet",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_archive_parquet",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
														"storedProcedureParameters": {
															"ErrorActivity": {
																"type": "String",
																"value": null
															},
															"ErrorCode": {
																"type": "String",
																"value": null
															},
															"ErrorMessage": {
																"type": "String",
																"value": null
															},
															"RecordsRead": {
																"type": "Int64",
																"value": {
																	"value": "@activity('cp_parquet_to_sql').output.rowsRead",
																	"type": "Expression"
																}
															},
															"RecordsRejected": {
																"type": "Int64",
																"value": null
															},
															"RecordsSkipped": {
																"type": "Int64",
																"value": null
															},
															"RecordsWritten": {
																"type": "Int64",
																"value": {
																	"value": "@activity('cp_parquet_to_sql').output.rowsCopied",
																	"type": "Expression"
																}
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															},
															"Status": {
																"type": "Int32",
																"value": "2"
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
															"p_db_name": "@pipeline().globalParameters.DB_NAME"
														}
													}
												}
											},
											{
												"name": "cp_quarantine_parquet",
												"description": "",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "lkp_log_error_parquet",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": {
																"value": "@pipeline().parameters.p_source_container",
																"type": "Expression"
															},
															"p_folder_path": {
																"value": "@pipeline().parameters.p_source_path",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "quarantine",
															"p_folder_path": {
																"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												]
											},
											{
												"name": "complete_run_failure_parquet",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_quarantine_parquet",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
														"storedProcedureParameters": {
															"ErrorActivity": {
																"type": "String",
																"value": "cp_json_to_sql"
															},
															"ErrorCode": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_parquet_to_sql').output.errors[0].Code",
																	"type": "Expression"
																}
															},
															"ErrorMessage": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_parquet_to_sql').output.errors[0].Message",
																	"type": "Expression"
																}
															},
															"RecordsRead": {
																"type": "Int64",
																"value": {
																	"value": "@activity('cp_parquet_to_sql').output.rowsRead",
																	"type": "Expression"
																}
															},
															"RecordsRejected": {
																"type": "Int64",
																"value": null
															},
															"RecordsSkipped": {
																"type": "Int64",
																"value": null
															},
															"RecordsWritten": {
																"type": "Int64",
																"value": {
																	"value": "@activity('cp_parquet_to_sql').output.rowsCopied",
																	"type": "Expression"
																}
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															},
															"Status": {
																"type": "Int32",
																"value": "3"
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
															"p_db_name": "@pipeline().globalParameters.DB_NAME"
														}
													}
												}
											},
											{
												"name": "wb_postprocess_parquet",
												"description": "Invokes the pre-process azure function and passes 3 parameters to perform file validation",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "complete_run_success_parquet",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "POST",
													"headers": {
														"Content-Type": "application/json",
														"Ocp-Apim-Subscription-Key": {
															"value": "@variables('v_subscription_key')",
															"type": "Expression"
														},
														"CORRELATION_ID": {
															"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    activity('lkp_start_run').output.firstRow.RunId\n)",
															"type": "Expression"
														}
													},
													"url": {
														"value": "@{pipeline().globalParameters.gp_postprocess_function_url}",
														"type": "Expression"
													},
													"body": {
														"value": "{\n       \"integration_id\": \"@{json(variables('v_config_json')).IntegrationId}\",\n       \"pipeline_name\": \"@{pipeline().Pipeline}\",\n       \"run_id\": \"@{pipeline().RunId}\",\n       \"status\": \"Success\",\n       \"trigger_type\": \"@{pipeline().TriggerType}\"\n     }",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "fail_invalid_file",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": "Invalid file.",
											"errorCode": "ERR_INVALID_FILE_001"
										}
									}
								]
							}
						},
						{
							"name": "sv_init_preprocess",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "sv_run_id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_preprocess",
								"value": "False"
							}
						}
					]
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.p_trigger_type, 'EventTrigger')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "lkp_acquire_run_lock",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[control].[usp_AcquireRunLock]",
									"storedProcedureParameters": {
										"IntegrationId": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.p_integration_id",
												"type": "Expression"
											}
										},
										"LockTimeoutMinutes": {
											"type": "Int32",
											"value": "60"
										},
										"RunId": {
											"type": "Guid",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql",
									"type": "DatasetReference",
									"parameters": {
										"p_schema": "config",
										"p_table": "IntegrationConfig",
										"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"p_db_name": "@pipeline().globalParameters.DB_NAME"
									}
								}
							}
						},
						{
							"name": "sv_acquire_run_lock",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lkp_acquire_run_lock",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "sv_lock_check",
								"value": {
									"value": "@activity('lkp_acquire_run_lock').output.firstRow.IsAcquired",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "sv_acquire_run_lock_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "sv_lock_check",
								"value": {
									"value": "@bool('true')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "sp_release_runlock_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "gm_list_source_files",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[usp_ReleaseRunLock]",
					"storedProcedureParameters": {
						"IntegrationId": {
							"value": {
								"value": "@pipeline().parameters.p_integration_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RunId": {
							"value": {
								"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    pipeline().RunId\n)",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sql",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_db_domain_name": {
							"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
							"type": "Expression"
						},
						"p_db_name": {
							"value": "@pipeline().globalParameters.DB_NAME",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "if_fe_files_status",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "fe_files",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('fe_files').Status, 'Failed')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "sp_release_runlock_success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_ReleaseRunLock]",
								"storedProcedureParameters": {
									"IntegrationId": {
										"value": {
											"value": "@pipeline().parameters.p_integration_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    pipeline().RunId\n)",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_sql",
								"type": "LinkedServiceReference",
								"parameters": {
									"p_db_domain_name": {
										"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"type": "Expression"
									},
									"p_db_name": {
										"value": "@pipeline().globalParameters.DB_NAME",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "sp_release_runlock_fail",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_ReleaseRunLock]",
								"storedProcedureParameters": {
									"IntegrationId": {
										"value": {
											"value": "@pipeline().parameters.p_integration_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    pipeline().RunId\n)",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_sql",
								"type": "LinkedServiceReference",
								"parameters": {
									"p_db_domain_name": {
										"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"type": "Expression"
									},
									"p_db_name": {
										"value": "@pipeline().globalParameters.DB_NAME",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "fail_pipeline",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "sp_release_runlock_fail",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat(     'Pipeline run failed because due to an internal activity failure in fe_files activity ',     'IntegrationId=', string(pipeline().parameters.p_integration_id),     ', IntegrationName=', pipeline().parameters.p_integration_name,     ', PipelineRunId=', pipeline().RunId )",
									"type": "Expression"
								},
								"errorCode": "PIPELINE_RUN_FAIL"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_integration_id": {
				"type": "int"
			},
			"p_master_run_id": {
				"type": "string"
			},
			"p_batch_date": {
				"type": "string"
			},
			"p_trigger_type": {
				"type": "string"
			},
			"p_integration_name": {
				"type": "string"
			},
			"p_event_run_id": {
				"type": "string"
			},
			"p_source_path": {
				"type": "string"
			},
			"p_source_container": {
				"type": "string"
			}
		},
		"variables": {
			"v_config_json": {
				"type": "String"
			},
			"v_if_valid": {
				"type": "String"
			},
			"v_run_id": {
				"type": "Integer"
			},
			"v_preprocess": {
				"type": "String"
			},
			"v_if_preprocessed": {
				"type": "String"
			},
			"v_subscription_key": {
				"type": "String"
			},
			"sv_lock_check": {
				"type": "Boolean"
			},
			"sv_integration_details": {
				"type": "String"
			},
			"sv_pre_process_response": {
				"type": "String"
			},
			"sv_wb_pre_process_response": {
				"type": "String"
			},
			"sv_event_trigger_message": {
				"type": "String"
			}
		},
		"annotations": []
	}
}