pipeline/pl_child_batch_split.json
{
	"name": "pl_child_batch_split",
	"properties": {
		"activities": [
			{
				"name": "if_lock_acquired",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "if_check_trigger_type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('v_lock_check')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "fail_lock_not_acquired",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat(\n    'Execution failed because an active integration lock already exists and has not yet expired. Please verify and release the lock if required. ',\n    'IntegrationId=', string(pipeline().parameters.p_integration_id),\n    ', IntegrationName=', pipeline().parameters.p_integration_name,\n    ', PipelineRunId=', pipeline().RunId\n)",
									"type": "Expression"
								},
								"errorCode": "LOCK_NOT_ACQUIRED"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "lkp_get_integration_config",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[config].[usp_GetIntegrationConfig]",
									"storedProcedureParameters": {
										"IntegrationId": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.p_integration_id",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql",
									"type": "DatasetReference",
									"parameters": {
										"p_schema": "config",
										"p_table": "IntegrationConfig",
										"p_db_domain_name": {
											"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
											"type": "Expression"
										},
										"p_db_name": {
											"value": "@pipeline().globalParameters.DB_NAME",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "sv_integration_config",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lkp_get_integration_config",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_config_json",
								"value": {
									"value": "@string(activity('lkp_get_integration_config').output.firstRow)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "sp_release_runlock1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "lkp_get_integration_config",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_ReleaseRunLock]",
								"storedProcedureParameters": {
									"IntegrationId": {
										"value": {
											"value": "@pipeline().parameters.p_integration_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    pipeline().RunId\n)",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_sql",
								"type": "LinkedServiceReference",
								"parameters": {
									"p_db_domain_name": {
										"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"type": "Expression"
									},
									"p_db_name": {
										"value": "@pipeline().globalParameters.DB_NAME",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "wb_get_subscription_key",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@pipeline().globalParameters.gp_kv_subscription_key_url",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://vault.azure.net"
								}
							}
						},
						{
							"name": "sv_subscription_key",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "wb_get_subscription_key",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_subscription_key",
								"value": {
									"value": "@activity('wb_get_subscription_key').output.value",
									"type": "Expression"
								}
							}
						},
						{
							"name": "sp_release_runlock2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "wb_get_subscription_key",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_ReleaseRunLock]",
								"storedProcedureParameters": {
									"IntegrationId": {
										"value": {
											"value": "@pipeline().parameters.p_integration_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    pipeline().RunId\n)",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_sql",
								"type": "LinkedServiceReference",
								"parameters": {
									"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
									"p_db_name": "@pipeline().globalParameters.DB_NAME"
								}
							}
						}
					]
				}
			},
			{
				"name": "gm_get_source_files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "if_lock_acquired",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_binary_blk",
						"type": "DatasetReference",
						"parameters": {
							"p_container_name": {
								"value": "@pipeline().parameters.p_source_container",
								"type": "Expression"
							},
							"p_folder_path": {
								"value": "@pipeline().parameters.p_source_path",
								"type": "Expression"
							},
							"p_file_name": "*",
							"p_adls_url": {
								"value": "@pipeline().globalParameters.gp_adls_url",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "fe_loop_files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "fltr_source_format_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('fltr_source_format_files').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "if_valid_file",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "sv_run_id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('gm_get_file_metadata').output.size,0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "cp_file_to_quarantine_empty_file",
										"description": "Moves file to quarantine container",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"deleteFilesAfterCompletion": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": {
														"value": "@pipeline().parameters.p_source_container",
														"type": "Expression"
													},
													"p_folder_path": {
														"value": "@pipeline().parameters.p_source_path",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": "quarantine",
													"p_folder_path": {
														"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "lkp_complete_run_quarantine_empty_file",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "cp_file_to_quarantine_empty_file",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
												"storedProcedureParameters": {
													"ErrorActivity": {
														"type": "String",
														"value": null
													},
													"ErrorCode": {
														"type": "String",
														"value": null
													},
													"ErrorMessage": {
														"type": "String",
														"value": "quarantined 0 bytes file"
													},
													"RecordsRead": {
														"type": "Int64",
														"value": null
													},
													"RecordsRejected": {
														"type": "Int64",
														"value": null
													},
													"RecordsSkipped": {
														"type": "Int64",
														"value": null
													},
													"RecordsWritten": {
														"type": "Int64",
														"value": null
													},
													"RunId": {
														"type": "Int64",
														"value": {
															"value": "@variables('v_run_id')",
															"type": "Expression"
														}
													},
													"Status": {
														"type": "Int32",
														"value": "6"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql",
												"type": "DatasetReference",
												"parameters": {
													"p_schema": "config",
													"p_table": "IntegrationConfig",
													"p_db_domain_name": {
														"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
														"type": "Expression"
													},
													"p_db_name": {
														"value": "@pipeline().globalParameters.DB_NAME",
														"type": "Expression"
													}
												}
											}
										}
									},
									{
										"name": "fail_empty_file",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "lkp_complete_run_quarantine_empty_file",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": "File validation failed. The source file contains 0 bytes and has been moved to the quarantine location. Processing has been terminated for this file.",
											"errorCode": "ERR_INVALID_FILE_001"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "wb_preprocess",
										"description": "Invokes the pre-process azure function and passes 3 parameters to perform file validation",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 1,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"method": "POST",
											"headers": {
												"Content-Type": "application/json",
												"Ocp-Apim-Subscription-Key": {
													"value": "@variables('v_subscription_key')",
													"type": "Expression"
												},
												"CORRELATION_ID": {
													"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    activity('lkp_start_run').output.firstRow.RunId\n)",
													"type": "Expression"
												}
											},
											"url": {
												"value": "@{pipeline().globalParameters.gp_preprocess_function_url}",
												"type": "Expression"
											},
											"body": {
												"value": "{\n  \"IntegrationId\": @{json(variables('v_config_json')).IntegrationId},\n  \"FileName\": \"@{item().name}\",\n  \"FilePath\": \"@{concat(\n      json(variables('v_config_json')).SourceContainerName,\n      '/',\n      json(variables('v_config_json')).SourceFolderPath\n  )}\",\n  \"ValidationSchemaId\": @{coalesce(json(variables('v_config_json')).ValidationSchemaId, 0)},\n  \"ExpectedMinRecords\": @{json(variables('v_config_json')).ExpectedMinRecords}\n}\n ",
												"type": "Expression"
											}
										}
									},
									{
										"name": "sv_preprocess",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "wb_preprocess",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_if_preprocessed",
											"value": {
												"value": "@activity('wb_preprocess').output.IsValid",
												"type": "Expression"
											}
										}
									},
									{
										"name": "lkp_complete_run",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "wb_preprocess",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
												"storedProcedureParameters": {
													"ErrorActivity": {
														"type": "String",
														"value": "wb_preprocess"
													},
													"ErrorCode": {
														"type": "String",
														"value": {
															"value": "@activity('wb_preprocess').error.errorCode",
															"type": "Expression"
														}
													},
													"ErrorMessage": {
														"type": "String",
														"value": {
															"value": "@activity('wb_preprocess').error.message",
															"type": "Expression"
														}
													},
													"RecordsRead": {
														"type": "Int64",
														"value": null
													},
													"RecordsRejected": {
														"type": "Int64",
														"value": null
													},
													"RecordsSkipped": {
														"type": "Int64",
														"value": null
													},
													"RecordsWritten": {
														"type": "Int64",
														"value": null
													},
													"RunId": {
														"type": "Int64",
														"value": {
															"value": "@variables('v_run_id')",
															"type": "Expression"
														}
													},
													"Status": {
														"type": "Int32",
														"value": "3"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql",
												"type": "DatasetReference",
												"parameters": {
													"p_schema": "config",
													"p_table": "IntegrationConfig",
													"p_db_domain_name": {
														"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
														"type": "Expression"
													},
													"p_db_name": {
														"value": "@pipeline().globalParameters.DB_NAME",
														"type": "Expression"
													}
												}
											}
										}
									},
									{
										"name": "lkp_log_error_preprocess",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "wb_preprocess",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[audit].[usp_LogError]",
												"storedProcedureParameters": {
													"ActivityName": {
														"type": "String",
														"value": "wb_preprocess"
													},
													"ActivityType": {
														"type": "String",
														"value": "Web"
													},
													"ErrorCode": {
														"type": "String",
														"value": {
															"value": "@activity('wb_preprocess').error.errorCode",
															"type": "Expression"
														}
													},
													"ErrorMessage": {
														"type": "String",
														"value": {
															"value": "@activity('wb_preprocess').error.message",
															"type": "Expression"
														}
													},
													"RunId": {
														"type": "Int64",
														"value": {
															"value": "@variables('v_run_id')",
															"type": "Expression"
														}
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql",
												"type": "DatasetReference",
												"parameters": {
													"p_schema": "config",
													"p_table": "IntegrationConfig",
													"p_db_domain_name": {
														"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
														"type": "Expression"
													},
													"p_db_name": {
														"value": "@pipeline().globalParameters.DB_NAME",
														"type": "Expression"
													}
												}
											}
										}
									},
									{
										"name": "cp_file_to_quarantine_preprocess_fail",
										"description": "Moves file to quarantine container",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "wb_preprocess",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": false,
													"deleteFilesAfterCompletion": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": {
														"value": "@pipeline().parameters.p_source_container",
														"type": "Expression"
													},
													"p_folder_path": {
														"value": "@pipeline().parameters.p_source_path",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": "quarantine",
													"p_folder_path": {
														"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "lkp_start_run",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "gm_get_file_metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[audit].[usp_StartRun]",
									"storedProcedureParameters": {
										"AdfPipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"BatchDate": {
											"type": "DateTime",
											"value": {
												"value": "@pipeline().parameters.p_batch_date",
												"type": "Expression"
											}
										},
										"ChildRunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"EnvironmentName": {
											"type": "String",
											"value": {
												"value": "@pipeline().globalParameters.EnvironmentName",
												"type": "Expression"
											}
										},
										"IntegrationId": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.p_integration_id",
												"type": "Expression"
											}
										},
										"MasterRunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.p_master_run_id",
												"type": "Expression"
											}
										},
										"RetryAttempt": {
											"type": "Int32",
											"value": "0"
										},
										"SourceFileChecksum": {
											"type": "String",
											"value": null
										},
										"SourceFileName": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										"SourceFilePath": {
											"type": "String",
											"value": {
												"value": "@concat(\n  pipeline().parameters.p_source_container,\n  '/',\n  pipeline().parameters.p_source_path\n)",
												"type": "Expression"
											}
										},
										"SourceFileSizeBytes": {
											"type": "Int64",
											"value": {
												"value": "@activity('gm_get_file_metadata').output.size",
												"type": "Expression"
											}
										},
										"TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.p_trigger_type",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql",
									"type": "DatasetReference",
									"parameters": {
										"p_schema": "config",
										"p_table": "IntegrationConfig",
										"p_db_domain_name": {
											"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
											"type": "Expression"
										},
										"p_db_name": {
											"value": "@pipeline().globalParameters.DB_NAME",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "sv_run_id",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lkp_start_run",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_run_id",
								"value": {
									"value": "@activity('lkp_start_run').output.firstRow.RunId",
									"type": "Expression"
								}
							}
						},
						{
							"name": "gm_get_file_metadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls_binary_blk",
									"type": "DatasetReference",
									"parameters": {
										"p_container_name": {
											"value": "@pipeline().parameters.p_source_container",
											"type": "Expression"
										},
										"p_folder_path": {
											"value": "@pipeline().parameters.p_source_path",
											"type": "Expression"
										},
										"p_file_name": "@item().name",
										"p_adls_url": {
											"value": "@pipeline().globalParameters.gp_adls_url",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "switch",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "if_valid_file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@if(\n    equals(variables('v_if_preprocessed'), true),\n    toUpper(json(variables('v_config_json')).SourceFileFormat),\n    'SKIP'\n)",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "CSV",
										"activities": [
											{
												"name": "v_partition_count_csv",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "v_partition_count",
													"value": {
														"value": "@min(\n    mul(\n        add(\n            div(\n                div(\n                    activity('gm_get_file_metadata').output.size,\n                    1048576\n                ),\n                json(variables('v_config_json')).LargeFileThresholdMB\n            ),\n            1\n        ),\n        2\n    ),\n    32\n)",
														"type": "Expression"
													}
												}
											},
											{
												"name": "df_csv",
												"type": "ExecuteDataFlow",
												"dependsOn": [
													{
														"activity": "v_partition_count_csv",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "df_largefile_csv",
														"type": "DataFlowReference",
														"parameters": {
															"p_partition_count": {
																"value": "@variables('v_partition_count')",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"csvsource": {
																"p_container": {
																	"value": "@pipeline().parameters.p_source_container",
																	"type": "Expression"
																},
																"p_folder": {
																	"value": "@pipeline().parameters.p_source_path",
																	"type": "Expression"
																},
																"p_file_name": {
																	"value": "@item().name",
																	"type": "Expression"
																},
																"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
															},
															"csvtarget": {
																"p_container": {
																	"value": "staged",
																	"type": "Expression"
																},
																"p_folder": {
																	"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    replace(item().name,'.csv',''),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																	"type": "Expression"
																},
																"p_file_name": {
																	"value": "*",
																	"type": "Expression"
																},
																"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
															}
														}
													},
													"compute": {
														"coreCount": 32,
														"computeType": "MemoryOptimized"
													},
													"traceLevel": "Fine",
													"runConcurrently": true
												}
											},
											{
												"name": "cp_aggregate_csv",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "df_csv",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": false,
															"wildcardFolderPath": {
																"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    replace(item().name,'.csv',''),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																"type": "Expression"
															},
															"wildcardFileName": "part-*.csv",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings",
															"copyBehavior": "MergeFiles"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"parallelCopies": 20,
													"dataIntegrationUnits": 32,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_adls_largefile_csv_wildcard",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "staged",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_delimited_src",
														"type": "DatasetReference",
														"parameters": {
															"p_container": "@json(variables('v_config_json')).TargetContainerName",
															"p_folder": "@concat(     json(variables('v_config_json')).TargetFolderPath,     '/',     formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'MM'),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'dd'),     '/' )",
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												]
											},
											{
												"name": "cp_file_to_archive_csv",
												"description": "Moves file to archive container",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "cp_aggregate_csv",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "@pipeline().parameters.p_source_container",
															"p_folder_path": "@pipeline().parameters.p_source_path",
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "archive",
															"p_folder_path": {
																"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												]
											},
											{
												"name": "lkp_complete_run_success_csv",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_aggregate_csv",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
														"storedProcedureParameters": {
															"ErrorActivity": {
																"type": "String",
																"value": null
															},
															"ErrorCode": {
																"type": "String",
																"value": null
															},
															"ErrorMessage": {
																"type": "String",
																"value": null
															},
															"RecordsRead": {
																"type": "Int64",
																"value": null
															},
															"RecordsRejected": {
																"type": "Int64",
																"value": null
															},
															"RecordsSkipped": {
																"type": "Int64",
																"value": null
															},
															"RecordsWritten": {
																"type": "Int64",
																"value": null
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															},
															"Status": {
																"type": "Int32",
																"value": "2"
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "wb_postprocess_csv",
												"description": "Invokes the pre-process azure function and passes 3 parameters to perform file validation",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "cp_aggregate_csv",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 1,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "POST",
													"headers": {
														"Content-Type": "application/json",
														"Ocp-Apim-Subscription-Key": {
															"value": "@variables('v_subscription_key')",
															"type": "Expression"
														},
														"CORRELATION_ID": {
															"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    activity('lkp_start_run').output.firstRow.RunId\n)",
															"type": "Expression"
														}
													},
													"url": {
														"value": "@{pipeline().globalParameters.gp_postprocess_function_url}",
														"type": "Expression"
													},
													"body": {
														"value": "{\n  \"integration_id\": \"@{json(variables('v_config_json')).IntegrationId}\",\n  \"pipeline_name\": \"@{pipeline().Pipeline}\",\n  \"run_id\": \"@{pipeline().RunId}\",\n  \"status\": \"Success\",\n  \"trigger_type\": \"@{pipeline().parameters.p_trigger_type}\"\n}\n ",
														"type": "Expression"
													}
												}
											},
											{
												"name": "lkp_log_error_copy_file_csv",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_aggregate_csv",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_LogError]",
														"storedProcedureParameters": {
															"ActivityName": {
																"type": "String",
																"value": "cp_aggregate_csv"
															},
															"ActivityType": {
																"type": "String",
																"value": "Copy data"
															},
															"ErrorCode": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_aggregate_csv').error.errorCode",
																	"type": "Expression"
																}
															},
															"ErrorMessage": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_aggregate_csv').error.message",
																	"type": "Expression"
																}
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "lkp_complete_run_copy_fail_csv",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_aggregate_csv",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
														"storedProcedureParameters": {
															"ErrorActivity": {
																"type": "String",
																"value": "cp_aggregate_csv"
															},
															"ErrorCode": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_aggregate_csv').error.errorCode",
																	"type": "Expression"
																}
															},
															"ErrorMessage": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_aggregate_csv').error.message",
																	"type": "Expression"
																}
															},
															"RecordsRead": {
																"type": "Int64",
																"value": null
															},
															"RecordsRejected": {
																"type": "Int64",
																"value": null
															},
															"RecordsSkipped": {
																"type": "Int64",
																"value": null
															},
															"RecordsWritten": {
																"type": "Int64",
																"value": null
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															},
															"Status": {
																"type": "Int32",
																"value": "3"
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "cp_file_to_quarantine_copy_fail_csv",
												"description": "Moves file to quarantine container",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "cp_aggregate_csv",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "@pipeline().parameters.p_source_container",
															"p_folder_path": "@pipeline().parameters.p_source_path",
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "quarantine",
															"p_folder_path": "@concat(     string(pipeline().parameters.p_integration_id),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'MM'),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'dd'),     '/' )",
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.EnvironmentName"
														}
													}
												]
											}
										]
									},
									{
										"value": "PARQUET",
										"activities": [
											{
												"name": "v_partition_count_parquet",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "v_partition_count",
													"value": {
														"value": "@min(\n    mul(\n        add(\n            div(\n                div(\n                    activity('gm_get_file_metadata').output.size,\n                    1048576\n                ),\n                json(variables('v_config_json')).LargeFileThresholdMB\n            ),\n            1\n        ),\n        2\n    ),\n    32\n)",
														"type": "Expression"
													}
												}
											},
											{
												"name": "df_parquet",
												"type": "ExecuteDataFlow",
												"dependsOn": [
													{
														"activity": "v_partition_count_parquet",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "df_largefile_parquet",
														"type": "DataFlowReference",
														"parameters": {
															"p_partition_count": {
																"value": "@variables('v_partition_count')",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"parquetsource": {
																"p_container": {
																	"value": "@pipeline().parameters.p_source_container",
																	"type": "Expression"
																},
																"p_folder": {
																	"value": "@pipeline().parameters.p_source_path",
																	"type": "Expression"
																},
																"p_file": "@item().name",
																"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
															},
															"parquetoutput": {
																"p_container": "staged",
																"p_folder": {
																	"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    replace(item().name,'.parquet',''),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																	"type": "Expression"
																},
																"p_file": "*",
																"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
															}
														}
													},
													"compute": {
														"coreCount": 32,
														"computeType": "MemoryOptimized"
													},
													"traceLevel": "Fine"
												}
											},
											{
												"name": "cp_aggregate_parquet",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "df_parquet",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": false,
															"wildcardFolderPath": {
																"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    replace(item().name,'.parquet',''),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																"type": "Expression"
															},
															"wildcardFileName": "part-*.parquet",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings",
															"copyBehavior": "MergeFiles"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"parallelCopies": 8,
													"dataIntegrationUnits": 32,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_adls_largefile_parquet_wildcard",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "staged",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_parquet_src",
														"type": "DatasetReference",
														"parameters": {
															"p_container": "@json(variables('v_config_json')).TargetContainerName",
															"p_folder": {
																"value": "@concat(\n    json(variables('v_config_json')).TargetFolderPath,\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																"type": "Expression"
															},
															"p_file": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												]
											},
											{
												"name": "cp_file_to_archive_parquet",
												"description": "Moves file to archive container",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "cp_aggregate_parquet",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "@pipeline().parameters.p_source_container",
															"p_folder_path": {
																"value": "@pipeline().parameters.p_source_path",
																"type": "Expression"
															},
															"p_file_name": {
																"value": "@item().name",
																"type": "Expression"
															},
															"p_adls_url": {
																"value": "@pipeline().globalParameters.gp_adls_url",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "archive",
															"p_folder_path": "@concat(     string(pipeline().parameters.p_integration_id),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'MM'),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'dd'),     '/' )",
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												]
											},
											{
												"name": "lkp_complete_run_success_parquet",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_aggregate_parquet",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
														"storedProcedureParameters": {
															"ErrorActivity": {
																"type": "String",
																"value": null
															},
															"ErrorCode": {
																"type": "String",
																"value": null
															},
															"ErrorMessage": {
																"type": "String",
																"value": null
															},
															"RecordsRead": {
																"type": "Int64",
																"value": null
															},
															"RecordsRejected": {
																"type": "Int64",
																"value": null
															},
															"RecordsSkipped": {
																"type": "Int64",
																"value": null
															},
															"RecordsWritten": {
																"type": "Int64",
																"value": null
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															},
															"Status": {
																"type": "Int32",
																"value": "2"
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "wb_postprocess_parquet",
												"description": "Invokes the pre-process azure function and passes 3 parameters to perform file validation",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "cp_aggregate_parquet",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 1,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "POST",
													"headers": {
														"Content-Type": "application/json",
														"Ocp-Apim-Subscription-Key": {
															"value": "@variables('v_subscription_key')",
															"type": "Expression"
														},
														"CORRELATION_ID": {
															"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    activity('lkp_start_run').output.firstRow.RunId\n)",
															"type": "Expression"
														}
													},
													"url": {
														"value": "@{pipeline().globalParameters.gp_postprocess_function_url}",
														"type": "Expression"
													},
													"body": {
														"value": "{\n  \"integration_id\": \"@{json(variables('v_config_json')).IntegrationId}\",\n  \"pipeline_name\": \"@{pipeline().Pipeline}\",\n  \"run_id\": \"@{pipeline().RunId}\",\n  \"status\": \"Success\",\n  \"trigger_type\": \"@{pipeline().parameters.p_trigger_type}\"\n}\n ",
														"type": "Expression"
													}
												}
											},
											{
												"name": "lkp_log_error_copy_file_parquet",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_aggregate_parquet",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_LogError]",
														"storedProcedureParameters": {
															"ActivityName": {
																"type": "String",
																"value": "cp_aggregate_parquet"
															},
															"ActivityType": {
																"type": "String",
																"value": "Copy data"
															},
															"ErrorCode": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_aggregate_parquet').error.errorCode",
																	"type": "Expression"
																}
															},
															"ErrorMessage": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_aggregate_parquet').error.message",
																	"type": "Expression"
																}
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "lkp_complete_run_copy_fail_parquet",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_aggregate_parquet",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
														"storedProcedureParameters": {
															"ErrorActivity": {
																"type": "String",
																"value": "cp_aggregate_parquet"
															},
															"ErrorCode": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_aggregate_parquet').error.errorCode",
																	"type": "Expression"
																}
															},
															"ErrorMessage": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_aggregate_parquet').error.message",
																	"type": "Expression"
																}
															},
															"RecordsRead": {
																"type": "Int64",
																"value": null
															},
															"RecordsRejected": {
																"type": "Int64",
																"value": null
															},
															"RecordsSkipped": {
																"type": "Int64",
																"value": null
															},
															"RecordsWritten": {
																"type": "Int64",
																"value": null
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															},
															"Status": {
																"type": "Int32",
																"value": "3"
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "cp_file_to_quarantine_copy_fail_parquet",
												"description": "Moves file to quarantine container",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "cp_aggregate_parquet",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "@pipeline().parameters.p_source_container",
															"p_folder_path": "@pipeline().parameters.p_source_path",
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "quarantine",
															"p_folder_path": "@concat(     string(pipeline().parameters.p_integration_id),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'MM'),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'dd'),     '/' )",
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.EnvironmentName"
														}
													}
												]
											}
										]
									},
									{
										"value": "SKIP",
										"activities": [
											{
												"name": "cp_file_to_quarantine_invalid_file",
												"description": "Moves file to quarantine container",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": {
																"value": "@pipeline().parameters.p_source_container",
																"type": "Expression"
															},
															"p_folder_path": {
																"value": "@pipeline().parameters.p_source_path",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": {
																"value": "@pipeline().globalParameters.gp_adls_url",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "quarantine",
															"p_folder_path": {
																"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": {
																"value": "@pipeline().globalParameters.gp_adls_url",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "lkp_complete_run_quarantine_invalid_file",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_file_to_quarantine_invalid_file",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
														"storedProcedureParameters": {
															"ErrorActivity": {
																"type": "String",
																"value": null
															},
															"ErrorCode": {
																"type": "String",
																"value": null
															},
															"ErrorMessage": {
																"type": "String",
																"value": "File is quarantined and as i n valid"
															},
															"RecordsRead": {
																"type": "Int64",
																"value": null
															},
															"RecordsRejected": {
																"type": "Int64",
																"value": null
															},
															"RecordsSkipped": {
																"type": "Int64",
																"value": null
															},
															"RecordsWritten": {
																"type": "Int64",
																"value": null
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															},
															"Status": {
																"type": "Int32",
																"value": "6"
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											}
										]
									},
									{
										"value": "JSON",
										"activities": [
											{
												"name": "v_partition_count_json",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "v_partition_count",
													"value": {
														"value": "@min(\n    mul(\n        add(\n            div(\n                div(\n                    activity('gm_get_file_metadata').output.size,\n                    1048576\n                ),\n                json(variables('v_config_json')).LargeFileThresholdMB\n            ),\n            1\n        ),\n        2\n    ),\n    32\n)",
														"type": "Expression"
													}
												}
											},
											{
												"name": "df_json",
												"type": "ExecuteDataFlow",
												"dependsOn": [
													{
														"activity": "v_partition_count_json",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "df_json_dataflow",
														"type": "DataFlowReference",
														"parameters": {
															"p_partition_count": {
																"value": "@variables('v_partition_count')",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"jsonsource": {
																"p_container": {
																	"value": "@pipeline().parameters.p_source_container",
																	"type": "Expression"
																},
																"p_folder": {
																	"value": "@pipeline().parameters.p_source_path",
																	"type": "Expression"
																},
																"p_file": "@item().name",
																"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
															},
															"jsontarget": {
																"p_container": "staged",
																"p_folder": {
																	"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    replace(item().name,'.json',''),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																	"type": "Expression"
																},
																"p_file": {
																	"value": "*",
																	"type": "Expression"
																},
																"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
															}
														}
													},
													"compute": {
														"coreCount": 32,
														"computeType": "MemoryOptimized"
													},
													"traceLevel": "Fine"
												}
											},
											{
												"name": "cp_aggregate_json",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "df_json",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "JsonSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"modifiedDatetimeStart": null,
															"wildcardFolderPath": {
																"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    replace(item().name,'.json',''),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																"type": "Expression"
															},
															"wildcardFileName": "part-*.json",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "JsonReadSettings"
														}
													},
													"sink": {
														"type": "JsonSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings",
															"copyBehavior": "MergeFiles"
														},
														"formatSettings": {
															"type": "JsonWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_largefile_json_wildcard",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "staged",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_json_src",
														"type": "DatasetReference",
														"parameters": {
															"p_container": "@json(variables('v_config_json')).TargetContainerName",
															"p_folder": "@json(variables('v_config_json')).TargetFolderPath",
															"p_file": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												]
											},
											{
												"name": "cp_file_to_archive_json",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "cp_aggregate_json",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "@pipeline().parameters.p_source_container",
															"p_folder_path": "@pipeline().parameters.p_source_path",
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "archive",
															"p_folder_path": "@concat(     string(pipeline().parameters.p_integration_id),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'MM'),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'dd'),     '/' )",
															"p_file_name": "@item().name",
															"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
														}
													}
												]
											},
											{
												"name": "lkp_complete_run_success_json",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_aggregate_json",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
														"storedProcedureParameters": {
															"ErrorActivity": {
																"type": "String",
																"value": null
															},
															"ErrorCode": {
																"type": "String",
																"value": null
															},
															"ErrorMessage": {
																"type": "String",
																"value": null
															},
															"RecordsRead": {
																"type": "Int64",
																"value": null
															},
															"RecordsRejected": {
																"type": "Int64",
																"value": null
															},
															"RecordsSkipped": {
																"type": "Int64",
																"value": null
															},
															"RecordsWritten": {
																"type": "Int64",
																"value": null
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															},
															"Status": {
																"type": "Int32",
																"value": "2"
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "wb_postprocess_json",
												"description": "Invokes the pre-process azure function and passes 3 parameters to perform file validation",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "cp_aggregate_json",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 1,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "POST",
													"headers": {
														"Content-Type": "application/json",
														"Ocp-Apim-Subscription-Key": {
															"value": "@variables('v_subscription_key')",
															"type": "Expression"
														},
														"CORRELATION_ID": {
															"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    activity('lkp_start_run').output.firstRow.RunId\n)",
															"type": "Expression"
														}
													},
													"url": {
														"value": "@{pipeline().globalParameters.gp_postprocess_function_url}",
														"type": "Expression"
													},
													"body": {
														"value": "{\n  \"integration_id\": \"@{json(variables('v_config_json')).IntegrationId}\",\n  \"pipeline_name\": \"@{pipeline().Pipeline}\",\n  \"run_id\": \"@{pipeline().RunId}\",\n  \"status\": \"Success\",\n  \"trigger_type\": \"@{pipeline().parameters.p_trigger_type}\"\n}\n ",
														"type": "Expression"
													}
												}
											},
											{
												"name": "lkp_log_error_copy_file_json",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_aggregate_json",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_LogError]",
														"storedProcedureParameters": {
															"ActivityName": {
																"type": "String",
																"value": "cp_aggregate_json"
															},
															"ActivityType": {
																"type": "String",
																"value": "Copy data"
															},
															"ErrorCode": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_aggregate_json').error.errorCode",
																	"type": "Expression"
																}
															},
															"ErrorMessage": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_aggregate_json').error.message",
																	"type": "Expression"
																}
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "lkp_complete_run_copy_fail_json",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_aggregate_json",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
														"storedProcedureParameters": {
															"ErrorActivity": {
																"type": "String",
																"value": "cp_agrregate_json"
															},
															"ErrorCode": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_aggregate_json').error.errorCode",
																	"type": "Expression"
																}
															},
															"ErrorMessage": {
																"type": "String",
																"value": {
																	"value": "@activity('cp_aggregate_json').error.message",
																	"type": "Expression"
																}
															},
															"RecordsRead": {
																"type": "Int64",
																"value": null
															},
															"RecordsRejected": {
																"type": "Int64",
																"value": null
															},
															"RecordsSkipped": {
																"type": "Int64",
																"value": null
															},
															"RecordsWritten": {
																"type": "Int64",
																"value": null
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															},
															"Status": {
																"type": "Int32",
																"value": "3"
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "cp_file_to_quarantine_copy_fail_json",
												"description": "Moves file to quarantine container",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "cp_aggregate_json",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "@pipeline().parameters.p_source_container",
															"p_folder_path": "@pipeline().parameters.p_source_path",
															"p_file_name": {
																"value": "@item().name",
																"type": "Expression"
															},
															"p_adls_url": "@pipeline().globalParameters.EnvironmentName"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "quarantine",
															"p_folder_path": "@concat(     string(pipeline().parameters.p_integration_id),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'MM'),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'dd'),     '/' )",
															"p_file_name": {
																"value": "@item().name",
																"type": "Expression"
															},
															"p_adls_url": "@pipeline().globalParameters.EnvironmentName"
														}
													}
												]
											}
										]
									}
								]
							}
						},
						{
							"name": "if_success_remove_staged_files",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "switch",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(variables('v_if_preprocessed'), true)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "dl_staged_file",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "ds_adls_binary_folder",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": "staged",
													"p_folder_path": "@string(pipeline().parameters.p_integration_id)",
													"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "fltr_source_format_files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "gm_get_source_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('gm_get_source_files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endsWith(\n    item().name,\n    concat('.', tolower(json(variables('v_config_json')).SourceFileFormat))\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "if_check_trigger_type",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.p_trigger_type, 'EventTrigger')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "lkp_acquire_runlock",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[control].[usp_AcquireRunLock]",
									"storedProcedureParameters": {
										"IntegrationId": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.p_integration_id",
												"type": "Expression"
											}
										},
										"RunId": {
											"type": "Guid",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql",
									"type": "DatasetReference",
									"parameters": {
										"p_schema": "config",
										"p_table": "IntegrationConfig",
										"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"p_db_name": "@pipeline().globalParameters.DB_NAME"
									}
								}
							}
						},
						{
							"name": "sv_lock_acquired",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lkp_acquire_runlock",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_lock_check",
								"value": {
									"value": "@activity('lkp_acquire_runlock').output.firstRow.IsAcquired",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "sv_lock_check",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_lock_check",
								"value": {
									"value": "@bool('true')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "sp_release_runlock_gm_fail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "gm_get_source_files",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[usp_ReleaseRunLock]",
					"storedProcedureParameters": {
						"IntegrationId": {
							"value": {
								"value": "@pipeline().parameters.p_integration_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RunId": {
							"value": {
								"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    pipeline().RunId\n)",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sql",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_db_domain_name": "@pipeline().globalParameters.DB_DOMAIN_NAME",
						"p_db_name": "@pipeline().globalParameters.DB_NAME"
					}
				}
			},
			{
				"name": "if_fe_loop_files_status",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "fe_loop_files",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('fe_loop_files').Status, 'Failed')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "sp_release_runlock_success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_ReleaseRunLock]",
								"storedProcedureParameters": {
									"IntegrationId": {
										"value": {
											"value": "@pipeline().parameters.p_integration_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    pipeline().RunId\n)",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_sql",
								"type": "LinkedServiceReference",
								"parameters": {
									"p_db_domain_name": {
										"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"type": "Expression"
									},
									"p_db_name": {
										"value": "@pipeline().globalParameters.DB_NAME",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "sp_release_runlock_fail",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_ReleaseRunLock]",
								"storedProcedureParameters": {
									"IntegrationId": {
										"value": {
											"value": "@pipeline().parameters.p_integration_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    pipeline().RunId\n)",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_sql",
								"type": "LinkedServiceReference",
								"parameters": {
									"p_db_domain_name": {
										"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"type": "Expression"
									},
									"p_db_name": {
										"value": "@pipeline().globalParameters.DB_NAME",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "fail_pipeline",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "sp_release_runlock_fail",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "@concat(     'Pipeline run failed because due to an internal activity failure in fe_loop_files activity ',     'IntegrationId=', string(pipeline().parameters.p_integration_id),     ', IntegrationName=', pipeline().parameters.p_integration_name,     ', PipelineRunId=', pipeline().RunId )",
								"errorCode": "PIPELINE_RUN_FAIL"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_integration_id": {
				"type": "int"
			},
			"p_integration_name": {
				"type": "string"
			},
			"p_trigger_type": {
				"type": "string"
			},
			"p_batch_date": {
				"type": "string"
			},
			"p_master_run_id": {
				"type": "string"
			},
			"p_event_run_id": {
				"type": "string"
			},
			"p_source_path": {
				"type": "string"
			},
			"p_source_container": {
				"type": "string"
			}
		},
		"variables": {
			"v_config_json": {
				"type": "String"
			},
			"v_run_id": {
				"type": "Integer"
			},
			"v_if_preprocessed": {
				"type": "Boolean"
			},
			"v_partition_count": {
				"type": "Integer"
			},
			"v_subscription_key": {
				"type": "String"
			},
			"v_lock_check": {
				"type": "Boolean"
			},
			"sv_integration_details": {
				"type": "String"
			}
		},
		"annotations": []
	}
}