pipeline/pl_child_transform_delimited.json
{
	"name": "pl_child_transform_delimited",
	"properties": {
		"activities": [
			{
				"name": "fe_loop_files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "flt_source_csv_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('flt_source_csv_files').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "sv_run_id",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lkp_start_run",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_run_id",
								"value": {
									"value": "@activity('lkp_start_run').output.firstRow.RunId",
									"type": "Expression"
								}
							}
						},
						{
							"name": "if_check_file_size",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "sv_run_id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('gm_get_file_size').output.size,0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "cp_empty_file_to_quarantine",
										"description": "Moves file to quarantine container",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"deleteFilesAfterCompletion": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": {
														"value": "@pipeline().parameters.p_source_container",
														"type": "Expression"
													},
													"p_folder_path": {
														"value": "@pipeline().parameters.p_source_path",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": "quarantine",
													"p_folder_path": {
														"value": "@concat(\n    string(json(variables('sv_integration_details')).TargetFolderPath),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "lkp_complete_run_empty_file",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "cp_empty_file_to_quarantine",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
												"storedProcedureParameters": {
													"ErrorActivity": {
														"type": "String",
														"value": null
													},
													"ErrorCode": {
														"type": "String",
														"value": null
													},
													"ErrorMessage": {
														"type": "String",
														"value": "File is quarantined and as it is empty."
													},
													"RecordsRead": {
														"type": "Int64",
														"value": null
													},
													"RecordsRejected": {
														"type": "Int64",
														"value": null
													},
													"RecordsSkipped": {
														"type": "Int64",
														"value": null
													},
													"RecordsWritten": {
														"type": "Int64",
														"value": null
													},
													"RunId": {
														"type": "Int64",
														"value": {
															"value": "@variables('v_run_id')",
															"type": "Expression"
														}
													},
													"Status": {
														"type": "Int32",
														"value": "6"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql",
												"type": "DatasetReference",
												"parameters": {
													"p_schema": "config",
													"p_table": "IntegrationConfig",
													"p_db_domain_name": {
														"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
														"type": "Expression"
													},
													"p_db_name": {
														"value": "@pipeline().globalParameters.DB_NAME",
														"type": "Expression"
													}
												}
											}
										}
									},
									{
										"name": "fail_empty_fail",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "lkp_complete_run_empty_file",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": "File validation failed.  The source file is empty.",
											"errorCode": "ERR_INVALID_FILE_001"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "sv_pre_process_check",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "wb_pre_process",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "sv_wb_pre_process_response",
											"value": {
												"value": "@activity('wb_pre_process').output.IsValid",
												"type": "Expression"
											}
										}
									},
									{
										"name": "wb_pre_process",
										"description": "Invokes the pre-process azure function and passes 3 parameters to perform file validation",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"method": "POST",
											"headers": {
												"Content-Type": "application/json",
												"Ocp-Apim-Subscription-Key": {
													"value": "@variables('v_subscription_key')",
													"type": "Expression"
												},
												"CORRELATION_ID": {
													"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    activity('lkp_start_run').output.firstRow.RunId\n)",
													"type": "Expression"
												}
											},
											"url": {
												"value": "@{pipeline().globalParameters.gp_preprocess_function_url}",
												"type": "Expression"
											},
											"body": {
												"value": "{\n  \"IntegrationId\": @{json(variables('sv_integration_details')).IntegrationId},\n  \"FileName\": \"@{item().name}\",\n  \"FilePath\": \"@{concat(\n      pipeline().parameters.p_source_container,\n      '/',\n      pipeline().parameters.p_source_path)}\",\n  \"ValidationSchemaId\": @{coalesce(json(variables('sv_integration_details')).ValidationSchemaId, 0)},\n  \"ExpectedMinRecords\": @{json(variables('sv_integration_details')).ExpectedMinRecords}\n}\n ",
												"type": "Expression"
											}
										}
									},
									{
										"name": "cp_file_to_quarantine_pre_process_fail",
										"description": "",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "wb_pre_process",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"deleteFilesAfterCompletion": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": {
														"value": "@pipeline().parameters.p_source_container",
														"type": "Expression"
													},
													"p_folder_path": {
														"value": "@pipeline().parameters.p_source_path",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": "quarantine",
													"p_folder_path": {
														"value": "@concat(\n    string(json(variables('sv_integration_details')).TargetFolderPath),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "lkp_complete_run_pre_process_fail",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "wb_pre_process",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
												"storedProcedureParameters": {
													"ErrorActivity": {
														"type": "String",
														"value": "wb_pre_process"
													},
													"ErrorCode": {
														"type": "String",
														"value": {
															"value": "@activity('wb_pre_process').error.errorCode",
															"type": "Expression"
														}
													},
													"ErrorMessage": {
														"type": "String",
														"value": {
															"value": "@activity('wb_pre_process').error.message",
															"type": "Expression"
														}
													},
													"RecordsRead": {
														"type": "Int64",
														"value": null
													},
													"RecordsRejected": {
														"type": "Int64",
														"value": null
													},
													"RecordsSkipped": {
														"type": "Int64",
														"value": null
													},
													"RecordsWritten": {
														"type": "Int64",
														"value": null
													},
													"RunId": {
														"type": "Int64",
														"value": {
															"value": "@variables('v_run_id')",
															"type": "Expression"
														}
													},
													"Status": {
														"type": "Int32",
														"value": "3"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql",
												"type": "DatasetReference",
												"parameters": {
													"p_schema": "config",
													"p_table": "IntegrationConfig",
													"p_db_domain_name": {
														"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
														"type": "Expression"
													},
													"p_db_name": {
														"value": "@pipeline().globalParameters.DB_NAME",
														"type": "Expression"
													}
												}
											}
										}
									},
									{
										"name": "lkp_log_error_preprocess",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "wb_pre_process",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[audit].[usp_LogError]",
												"storedProcedureParameters": {
													"ActivityName": {
														"type": "String",
														"value": "wb_preprocess"
													},
													"ActivityType": {
														"type": "String",
														"value": "Web"
													},
													"ErrorCode": {
														"type": "String",
														"value": {
															"value": "@activity('wb_pre_process').error.errorCode",
															"type": "Expression"
														}
													},
													"ErrorMessage": {
														"type": "String",
														"value": {
															"value": "@activity('wb_pre_process').error.message",
															"type": "Expression"
														}
													},
													"RunId": {
														"type": "Int64",
														"value": {
															"value": "@variables('v_run_id')",
															"type": "Expression"
														}
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql",
												"type": "DatasetReference",
												"parameters": {
													"p_schema": "config",
													"p_table": "IntegrationConfig",
													"p_db_domain_name": {
														"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
														"type": "Expression"
													},
													"p_db_name": {
														"value": "@pipeline().globalParameters.DB_NAME",
														"type": "Expression"
													}
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "gm_get_file_size",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls_binary_blk",
									"type": "DatasetReference",
									"parameters": {
										"p_container_name": {
											"value": "@pipeline().parameters.p_source_container",
											"type": "Expression"
										},
										"p_folder_path": {
											"value": "@pipeline().parameters.p_source_path",
											"type": "Expression"
										},
										"p_file_name": "@item().name",
										"p_adls_url": {
											"value": "@pipeline().globalParameters.gp_adls_url",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "if_check_file_valid",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "if_check_file_size",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(variables('sv_wb_pre_process_response'), true)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "cp_invalid_file_to_quarantine",
										"description": "",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"deleteFilesAfterCompletion": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": {
														"value": "@pipeline().parameters.p_source_container",
														"type": "Expression"
													},
													"p_folder_path": {
														"value": "@pipeline().parameters.p_source_path",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": "quarantine",
													"p_folder_path": {
														"value": "@concat(\n    string(json(variables('sv_integration_details')).TargetFolderPath),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "lkp_complete_run_invalid_file",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "cp_invalid_file_to_quarantine",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
												"storedProcedureParameters": {
													"ErrorActivity": {
														"type": "String",
														"value": null
													},
													"ErrorCode": {
														"type": "String",
														"value": null
													},
													"ErrorMessage": {
														"type": "String",
														"value": "File is quarantined and as i n valid"
													},
													"RecordsRead": {
														"type": "Int64",
														"value": null
													},
													"RecordsRejected": {
														"type": "Int64",
														"value": null
													},
													"RecordsSkipped": {
														"type": "Int64",
														"value": null
													},
													"RecordsWritten": {
														"type": "Int64",
														"value": null
													},
													"RunId": {
														"type": "Int64",
														"value": {
															"value": "@variables('v_run_id')",
															"type": "Expression"
														}
													},
													"Status": {
														"type": "Int32",
														"value": "6"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql",
												"type": "DatasetReference",
												"parameters": {
													"p_schema": "config",
													"p_table": "IntegrationConfig",
													"p_db_domain_name": {
														"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
														"type": "Expression"
													},
													"p_db_name": {
														"value": "@pipeline().globalParameters.DB_NAME",
														"type": "Expression"
													}
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "wb_post_process",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "cd_csv_to_parquet",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"method": "POST",
											"headers": {
												"Content-Type": "application/json",
												"Ocp-Apim-Subscription-Key": {
													"value": "@variables('v_subscription_key')",
													"type": "Expression"
												},
												"CORRELATION_ID": {
													"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    activity('lkp_start_run').output.firstRow.RunId\n)",
													"type": "Expression"
												}
											},
											"url": {
												"value": "@{pipeline().globalParameters.gp_postprocess_function_url}",
												"type": "Expression"
											},
											"body": {
												"value": "{\n    \"integration_id\":\"@{json(variables('sv_integration_details')).IntegrationId}\",\n    \"pipeline_name\":\"@{pipeline().Pipeline}\",\n    \"run_id\":\"@{pipeline().RunId}\",\n    \"status\":\"Success\",\n    \"trigger_type\":\"@{pipeline().TriggerType}\"\n}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "cp_file_to_quarantine_copy_file_fail",
										"description": "Moves file to quarantine container",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "cd_csv_to_parquet",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"deleteFilesAfterCompletion": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": {
														"value": "@pipeline().parameters.p_source_container",
														"type": "Expression"
													},
													"p_folder_path": {
														"value": "@pipeline().parameters.p_source_path",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": "quarantine",
													"p_folder_path": {
														"value": "@concat(\n    string(json(variables('sv_integration_details')).TargetFolderPath),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "cd_csv_to_parquet",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_adls_delimited_src",
												"type": "DatasetReference",
												"parameters": {
													"p_container": {
														"value": "@pipeline().parameters.p_source_container",
														"type": "Expression"
													},
													"p_folder": {
														"value": "@pipeline().parameters.p_source_path",
														"type": "Expression"
													},
													"p_file_name": {
														"value": "@item().name",
														"type": "Expression"
													},
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_parquet_src",
												"type": "DatasetReference",
												"parameters": {
													"p_container": {
														"value": "@json(variables('sv_integration_details')).TargetContainerName",
														"type": "Expression"
													},
													"p_folder": {
														"value": "@concat(\n    string(json(variables('sv_integration_details')).TargetFolderPath),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
														"type": "Expression"
													},
													"p_file": {
														"value": "@concat(\n    replace(item().name, '.csv', ''),\n    '_',\n    formatDateTime(utcNow(),'yyyyMMddHHmmss'),\n    '.parquet'\n)",
														"type": "Expression"
													},
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "cd_file_to_archive",
										"description": "Moves file to archive container",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "cd_csv_to_parquet",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"deleteFilesAfterCompletion": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": {
														"value": "@pipeline().parameters.p_source_container",
														"type": "Expression"
													},
													"p_folder_path": {
														"value": "@pipeline().parameters.p_source_path",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_binary_blk",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": "archive",
													"p_folder_path": {
														"value": "@concat(\n    string(json(variables('sv_integration_details')).TargetFolderPath),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
														"type": "Expression"
													},
													"p_file_name": "@item().name",
													"p_adls_url": {
														"value": "@pipeline().globalParameters.gp_adls_url",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "lkp_complete_run_success",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "cd_csv_to_parquet",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
												"storedProcedureParameters": {
													"ErrorActivity": {
														"type": "String",
														"value": null
													},
													"ErrorCode": {
														"type": "String",
														"value": null
													},
													"ErrorMessage": {
														"type": "String",
														"value": null
													},
													"RecordsRead": {
														"type": "Int64",
														"value": null
													},
													"RecordsRejected": {
														"type": "Int64",
														"value": null
													},
													"RecordsSkipped": {
														"type": "Int64",
														"value": null
													},
													"RecordsWritten": {
														"type": "Int64",
														"value": null
													},
													"RunId": {
														"type": "Int64",
														"value": {
															"value": "@variables('v_run_id')",
															"type": "Expression"
														}
													},
													"Status": {
														"type": "Int32",
														"value": "2"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql",
												"type": "DatasetReference",
												"parameters": {
													"p_schema": "config",
													"p_table": "IntegrationConfig",
													"p_db_domain_name": {
														"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
														"type": "Expression"
													},
													"p_db_name": {
														"value": "@pipeline().globalParameters.DB_NAME",
														"type": "Expression"
													}
												}
											}
										}
									},
									{
										"name": "lkp_complete_run_fail",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "cd_csv_to_parquet",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[audit].[usp_CompleteRun]",
												"storedProcedureParameters": {
													"ErrorActivity": {
														"type": "String",
														"value": "cp_file_pass_through"
													},
													"ErrorCode": {
														"type": "String",
														"value": {
															"value": "@activity('cd_csv_to_parquet').error.errorCode",
															"type": "Expression"
														}
													},
													"ErrorMessage": {
														"type": "String",
														"value": {
															"value": "@activity('cd_csv_to_parquet').error.message",
															"type": "Expression"
														}
													},
													"RecordsRead": {
														"type": "Int64",
														"value": null
													},
													"RecordsRejected": {
														"type": "Int64",
														"value": null
													},
													"RecordsSkipped": {
														"type": "Int64",
														"value": null
													},
													"RecordsWritten": {
														"type": "Int64",
														"value": null
													},
													"RunId": {
														"type": "Int64",
														"value": {
															"value": "@variables('v_run_id')",
															"type": "Expression"
														}
													},
													"Status": {
														"type": "Int32",
														"value": "3"
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql",
												"type": "DatasetReference",
												"parameters": {
													"p_schema": "config",
													"p_table": "IntegrationConfig",
													"p_db_domain_name": {
														"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
														"type": "Expression"
													},
													"p_db_name": {
														"value": "@pipeline().globalParameters.DB_NAME",
														"type": "Expression"
													}
												}
											}
										}
									},
									{
										"name": "lkp_log_error_copy_file",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "cd_csv_to_parquet",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[audit].[usp_LogError]",
												"storedProcedureParameters": {
													"ActivityName": {
														"type": "String",
														"value": "cd_csv_to_parquet"
													},
													"ActivityType": {
														"type": "String",
														"value": "Copy Data"
													},
													"ErrorCode": {
														"type": "String",
														"value": {
															"value": "@activity('cd_csv_to_parquet').error.errorCode",
															"type": "Expression"
														}
													},
													"ErrorMessage": {
														"type": "String",
														"value": {
															"value": "@activity('cd_csv_to_parquet').error.message",
															"type": "Expression"
														}
													},
													"RunId": {
														"type": "Int64",
														"value": {
															"value": "@variables('v_run_id')",
															"type": "Expression"
														}
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql",
												"type": "DatasetReference",
												"parameters": {
													"p_schema": "config",
													"p_table": "IntegrationConfig",
													"p_db_domain_name": {
														"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
														"type": "Expression"
													},
													"p_db_name": {
														"value": "@pipeline().globalParameters.DB_NAME",
														"type": "Expression"
													}
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "lkp_start_run",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "gm_get_file_size",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[audit].[usp_StartRun]",
									"storedProcedureParameters": {
										"AdfPipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"BatchDate": {
											"type": "DateTime",
											"value": {
												"value": "@pipeline().parameters.p_batch_date",
												"type": "Expression"
											}
										},
										"ChildRunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"EnvironmentName": {
											"type": "String",
											"value": {
												"value": "@pipeline().globalParameters.EnvironmentName",
												"type": "Expression"
											}
										},
										"IntegrationId": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.p_integration_id",
												"type": "Expression"
											}
										},
										"MasterRunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.p_master_run_id",
												"type": "Expression"
											}
										},
										"RetryAttempt": {
											"type": "Int32",
											"value": "0"
										},
										"SourceFileChecksum": {
											"type": "String",
											"value": null
										},
										"SourceFileName": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										"SourceFilePath": {
											"type": "String",
											"value": {
												"value": "@concat(\n  pipeline().parameters.p_source_container,\n  '/',\n  pipeline().parameters.p_source_path\n)",
												"type": "Expression"
											}
										},
										"SourceFileSizeBytes": {
											"type": "Int64",
											"value": {
												"value": "@activity('gm_get_file_size').output.size",
												"type": "Expression"
											}
										},
										"TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.p_trigger_type",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql",
									"type": "DatasetReference",
									"parameters": {
										"p_schema": "config",
										"p_table": "IntegrationConfig",
										"p_db_domain_name": {
											"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
											"type": "Expression"
										},
										"p_db_name": {
											"value": "@pipeline().globalParameters.DB_NAME",
											"type": "Expression"
										}
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "gm_source_files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "if_check_lock",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_binary_blk",
						"type": "DatasetReference",
						"parameters": {
							"p_container_name": {
								"value": "@pipeline().parameters.p_source_container",
								"type": "Expression"
							},
							"p_folder_path": {
								"value": "@pipeline().parameters.p_source_path",
								"type": "Expression"
							},
							"p_file_name": "*",
							"p_adls_url": {
								"value": "@pipeline().globalParameters.gp_adls_url",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "flt_source_csv_files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "gm_source_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('gm_source_files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(\n    startsWith(\n        item().name,\n        replace(\n            json(variables('sv_integration_details')).SourceFilePattern,\n            '*.csv',\n            ''\n        )\n    ),\n    endsWith(\n        item().name,\n        '.csv'\n    )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "if_check_trigger",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.p_trigger_type, 'EventTrigger')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "lkp_acquire_run_lock",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[control].[usp_AcquireRunLock]",
									"storedProcedureParameters": {
										"IntegrationId": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.p_integration_id",
												"type": "Expression"
											}
										},
										"LockTimeoutMinutes": {
											"type": "Int32",
											"value": "60"
										},
										"RunId": {
											"type": "Guid",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql",
									"type": "DatasetReference",
									"parameters": {
										"p_schema": "config",
										"p_table": "IntegrationConfig",
										"p_db_domain_name": {
											"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
											"type": "Expression"
										},
										"p_db_name": {
											"value": "@pipeline().globalParameters.DB_NAME",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "sv_acquire_run_lock",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lkp_acquire_run_lock",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "sv_lock_check",
								"value": {
									"value": "@activity('lkp_acquire_run_lock').output.firstRow.IsAcquired",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "sv_event_acquire_run_lock",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "sv_lock_check",
								"value": {
									"value": "@bool('True')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "if_check_lock",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "if_check_trigger",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('sv_lock_check')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "fail_lock_not_acquired",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat(\n    'Execution failed because an active integration lock already exists and has not yet expired. Please verify and release the lock if required. ',\n    'IntegrationId=', string(pipeline().parameters.p_integration_id),\n    ', IntegrationName=', pipeline().parameters.p_integration_name,\n    ', PipelineRunId=', pipeline().RunId\n)",
									"type": "Expression"
								},
								"errorCode": "ERR_RUN_LOCK_NOT_ACQUIRED"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "lkp_get_integration_trigger",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": {
										"value": "[config].[usp_GetIntegrationConfig]",
										"type": "Expression"
									},
									"storedProcedureParameters": {
										"IntegrationId": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.p_integration_id",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql",
									"type": "DatasetReference",
									"parameters": {
										"p_schema": "config",
										"p_table": "IntegrationConfig",
										"p_db_domain_name": {
											"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
											"type": "Expression"
										},
										"p_db_name": {
											"value": "@pipeline().globalParameters.DB_NAME",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "sv_integration_trigger",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lkp_get_integration_trigger",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "sv_integration_details",
								"value": {
									"value": "@string(activity('lkp_get_integration_trigger').output.firstRow)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "sp_lkp_fail_release_runlock",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "lkp_get_integration_trigger",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_ReleaseRunLock]",
								"storedProcedureParameters": {
									"IntegrationId": {
										"value": {
											"value": "@pipeline().parameters.p_integration_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    pipeline().RunId\n)",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_sql",
								"type": "LinkedServiceReference",
								"parameters": {
									"p_db_domain_name": {
										"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"type": "Expression"
									},
									"p_db_name": {
										"value": "@pipeline().globalParameters.DB_NAME",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "wb_get_subscription_key",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@pipeline().globalParameters.gp_kv_subscription_key_url",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://vault.azure.net"
								}
							}
						},
						{
							"name": "sv_subscription_key",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "wb_get_subscription_key",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_subscription_key",
								"value": {
									"value": "@activity('wb_get_subscription_key').output.value",
									"type": "Expression"
								}
							}
						},
						{
							"name": "sp_fail_wb_release_runlock",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "wb_get_subscription_key",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_ReleaseRunLock]",
								"storedProcedureParameters": {
									"IntegrationId": {
										"value": {
											"value": "@pipeline().parameters.p_integration_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    pipeline().RunId\n)",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_sql",
								"type": "LinkedServiceReference",
								"parameters": {
									"p_db_domain_name": {
										"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"type": "Expression"
									},
									"p_db_name": {
										"value": "@pipeline().globalParameters.DB_NAME",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "sp_gm_fail_release_runlock",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "gm_source_files",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[usp_ReleaseRunLock]",
					"storedProcedureParameters": {
						"IntegrationId": {
							"value": {
								"value": "@pipeline().parameters.p_integration_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RunId": {
							"value": {
								"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    pipeline().RunId\n)",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sql",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_db_domain_name": {
							"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
							"type": "Expression"
						},
						"p_db_name": {
							"value": "@pipeline().globalParameters.DB_NAME",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "if_fe_loop_files_status",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "fe_loop_files",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('fe_loop_files').Status, 'Failed')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "sp_release_runlock_success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_ReleaseRunLock]",
								"storedProcedureParameters": {
									"IntegrationId": {
										"value": {
											"value": "@pipeline().parameters.p_integration_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    pipeline().RunId\n)",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_sql",
								"type": "LinkedServiceReference",
								"parameters": {
									"p_db_domain_name": {
										"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"type": "Expression"
									},
									"p_db_name": {
										"value": "@pipeline().globalParameters.DB_NAME",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "sp_release_runlock_fail",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_ReleaseRunLock]",
								"storedProcedureParameters": {
									"IntegrationId": {
										"value": {
											"value": "@pipeline().parameters.p_integration_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@if(\n    equals(pipeline().parameters.p_trigger_type, 'EventTrigger'),\n    pipeline().parameters.p_event_run_id,\n    pipeline().RunId\n)",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_sql",
								"type": "LinkedServiceReference",
								"parameters": {
									"p_db_domain_name": {
										"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"type": "Expression"
									},
									"p_db_name": {
										"value": "@pipeline().globalParameters.DB_NAME",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "fail_pipeline",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "sp_release_runlock_fail",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat(     'Pipeline run failed because due to an internal activity failure in fe_loop_files activity ',     'IntegrationId=', string(pipeline().parameters.p_integration_id),     ', IntegrationName=', pipeline().parameters.p_integration_name,     ', PipelineRunId=', pipeline().RunId )",
									"type": "Expression"
								},
								"errorCode": "PIPELINE_RUN_FAIL"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_integration_id": {
				"type": "int"
			},
			"p_trigger_type": {
				"type": "string"
			},
			"p_batch_date": {
				"type": "string"
			},
			"p_integration_name": {
				"type": "string"
			},
			"p_master_run_id": {
				"type": "string"
			},
			"p_event_run_id": {
				"type": "string"
			},
			"p_source_path": {
				"type": "string"
			},
			"p_source_container": {
				"type": "string"
			}
		},
		"variables": {
			"sv_integration_details": {
				"type": "String"
			},
			"sv_pre_process_response": {
				"type": "String"
			},
			"v_run_id": {
				"type": "Integer"
			},
			"sv_wb_pre_process_response": {
				"type": "Boolean"
			},
			"sv_lock_check": {
				"type": "Boolean"
			},
			"sv_event_trigger_message": {
				"type": "String"
			},
			"v_subscription_key": {
				"type": "String"
			}
		},
		"annotations": []
	}
}