df-csc-dna-use-int-dev/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-csc-dna-use-int-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/df_largefile_csv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_adls_delimited_src",
								"type": "DatasetReference"
							},
							"name": "csvsource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_adls_delimited_src",
								"type": "DatasetReference"
							},
							"name": "csvtarget"
						}
					],
					"transformations": [],
					"scriptLines": [
						"parameters{",
						"     p_partition_count as integer",
						"}",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> csvsource",
						"csvsource sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('roundRobin', ($p_partition_count))) ~> csvtarget"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_largefile_parquet')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_adls_parquet_src",
								"type": "DatasetReference"
							},
							"name": "parquetsource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_adls_parquet_src",
								"type": "DatasetReference"
							},
							"name": "parquetoutput"
						}
					],
					"transformations": [],
					"scriptLines": [
						"parameters{",
						"     p_partition_count as integer",
						"}",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> parquetsource",
						"parquetsource sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('roundRobin', ($p_partition_count))) ~> parquetoutput"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_child_batch_split')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkp_acquire_runlock",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[control].[usp_AcquireRunLock]",
								"storedProcedureParameters": {
									"IntegrationId": {
										"type": "Int64",
										"value": {
											"value": "@pipeline().parameters.p_integration_id",
											"type": "Expression"
										}
									},
									"RunId": {
										"type": "Guid",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"p_schema": "config",
									"p_table": "IntegrationConfig",
									"p_db_domain_name": {
										"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"type": "Expression"
									},
									"p_db_name": {
										"value": "@pipeline().globalParameters.DB_NAME",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "if_lock_acquired",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "lkp_acquire_runlock",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('lkp_acquire_runlock').output.firstRow.IsAcquired",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "fail_lock_not_acquired",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@concat(\n    'Execution failed because an active integration lock already exists and has not yet expired. Please verify and release the lock if required. ',\n    'IntegrationId=', string(pipeline().parameters.p_integration_id),\n    ', IntegrationName=', pipeline().parameters.p_integration_name,\n    ', PipelineRunId=', pipeline().RunId\n)",
											"type": "Expression"
										},
										"errorCode": "LOCK_NOT_ACQUIRED"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "lkp_get_integration_config",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[config].[usp_GetIntegrationConfig]",
											"storedProcedureParameters": {
												"IntegrationId": {
													"type": "Int64",
													"value": {
														"value": "@pipeline().parameters.p_integration_id",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_sql",
											"type": "DatasetReference",
											"parameters": {
												"p_schema": "config",
												"p_table": "IntegrationConfig",
												"p_db_domain_name": {
													"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
													"type": "Expression"
												},
												"p_db_name": {
													"value": "@pipeline().globalParameters.DB_NAME",
													"type": "Expression"
												}
											}
										}
									}
								},
								{
									"name": "sv_integration_config",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "lkp_get_integration_config",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_config_json",
										"value": {
											"value": "@string(activity('lkp_get_integration_config').output.firstRow)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "sp_release_runlock1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "lkp_get_integration_config",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[control].[usp_ReleaseRunLock]",
										"storedProcedureParameters": {
											"IntegrationId": {
												"value": {
													"value": "@pipeline().parameters.p_integration_id",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "Guid"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_azure_sql",
										"type": "LinkedServiceReference",
										"parameters": {
											"p_db_domain_name": {
												"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
												"type": "Expression"
											},
											"p_db_name": {
												"value": "@pipeline().globalParameters.DB_NAME",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "gm_get_source_files",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "if_lock_acquired",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_adls_binary_blk",
								"type": "DatasetReference",
								"parameters": {
									"p_container_name": "@json(variables('v_config_json')).SourceContainerName",
									"p_folder_path": "@json(variables('v_config_json')).SourceFolderPath",
									"p_file_name": "*",
									"p_adls_url": {
										"value": "@pipeline().globalParameters.gp_adls_url",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "fe_loop_files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "fltr_source_format_files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('fltr_source_format_files').output.Value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "if_valid_file",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "sv_run_id",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('gm_get_file_metadata').output.size,0)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "cp_file_to_quarantine1",
												"description": "Moves file to quarantine container",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "@json(variables('v_config_json')).SourceContainerName",
															"p_folder_path": "@json(variables('v_config_json')).SourceFolderPath",
															"p_file_name": "@item().name",
															"p_adls_url": {
																"value": "@pipeline().globalParameters.gp_adls_url",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "quarantine",
															"p_folder_path": {
																"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(utcNow(),'yyyy'),\n    '/',\n    formatDateTime(utcNow(),'MM'),\n    '/',\n    formatDateTime(utcNow(),'dd'),\n    '/'\n)",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": {
																"value": "@pipeline().globalParameters.gp_adls_url",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "lkp_complete_run1",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "cp_file_to_quarantine1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[[audit].[usp_CompleteRun]",
														"storedProcedureParameters": {
															"ErrorActivity": {
																"type": "String",
																"value": null
															},
															"ErrorCode": {
																"type": "String",
																"value": null
															},
															"ErrorMessage": {
																"type": "String",
																"value": "quarantined 0 bytes file"
															},
															"RecordsRead": {
																"type": "Int64",
																"value": null
															},
															"RecordsRejected": {
																"type": "Int64",
																"value": null
															},
															"RecordsSkipped": {
																"type": "Int64",
																"value": null
															},
															"RecordsWritten": {
																"type": "Int64",
																"value": null
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															},
															"Status": {
																"type": "Int32",
																"value": "6"
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "Fail1",
												"type": "Fail",
												"dependsOn": [
													{
														"activity": "lkp_complete_run1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"message": "File validation failed. The source file contains 0 bytes and has been moved to the quarantine location. Processing has been terminated for this file.",
													"errorCode": "ERR_INVALID_FILE_001"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "wb_preprocess",
												"description": "Invokes the pre-process azure function and passes 3 parameters to perform file validation",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 1,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"method": "POST",
													"headers": {
														"Content-Type": "application/json",
														"Ocp-Apim-Subscription-Key": "f6cc6231b66b47a8a6a23573a1737b86"
													},
													"url": {
														"value": "@{pipeline().globalParameters.gp_preprocess_function_url}",
														"type": "Expression"
													},
													"body": {
														"value": "{\n  \"IntegrationId\": @{json(variables('v_config_json')).IntegrationId},\n  \"FileName\": \"@{item().name}\",\n  \"FilePath\": \"@{concat(\n      json(variables('v_config_json')).SourceContainerName,\n      '/',\n      json(variables('v_config_json')).SourceFolderPath\n  )}\",\n  \"ValidationSchemaId\": @{coalesce(json(variables('v_config_json')).ValidationSchemaId, 0)},\n  \"ExpectedMinRecords\": @{json(variables('v_config_json')).ExpectedMinRecords}\n}\n ",
														"type": "Expression"
													}
												}
											},
											{
												"name": "sv_preprocess",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "wb_preprocess",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "v_if_preprocessed",
													"value": {
														"value": "@activity('wb_preprocess').output.IsValid",
														"type": "Expression"
													}
												}
											},
											{
												"name": "lkp_complete_run",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "wb_preprocess",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[[audit].[usp_CompleteRun]",
														"storedProcedureParameters": {
															"ErrorActivity": {
																"type": "String",
																"value": "wb_preprocess"
															},
															"ErrorCode": {
																"type": "String",
																"value": {
																	"value": "@activity('wb_preprocess').error.errorCode",
																	"type": "Expression"
																}
															},
															"ErrorMessage": {
																"type": "String",
																"value": {
																	"value": "@activity('wb_preprocess').error.message",
																	"type": "Expression"
																}
															},
															"RecordsRead": {
																"type": "Int64",
																"value": null
															},
															"RecordsRejected": {
																"type": "Int64",
																"value": null
															},
															"RecordsSkipped": {
																"type": "Int64",
																"value": null
															},
															"RecordsWritten": {
																"type": "Int64",
																"value": null
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															},
															"Status": {
																"type": "Int32",
																"value": "3"
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "lkp_log_error",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "wb_preprocess",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[[audit].[usp_LogError]",
														"storedProcedureParameters": {
															"ActivityName": {
																"type": "String",
																"value": "wb_preprocess"
															},
															"ActivityType": {
																"type": "String",
																"value": "Web"
															},
															"ErrorCode": {
																"type": "String",
																"value": {
																	"value": "@activity('wb_preprocess').error.errorCode",
																	"type": "Expression"
																}
															},
															"ErrorMessage": {
																"type": "String",
																"value": {
																	"value": "@activity('wb_preprocess').error.message",
																	"type": "Expression"
																}
															},
															"RunId": {
																"type": "Int64",
																"value": {
																	"value": "@variables('v_run_id')",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": "config",
															"p_table": "IntegrationConfig",
															"p_db_domain_name": {
																"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																"type": "Expression"
															},
															"p_db_name": {
																"value": "@pipeline().globalParameters.DB_NAME",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "cp_file_to_quarantine",
												"description": "Moves file to quarantine container",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "wb_preprocess",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": false,
															"deleteFilesAfterCompletion": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "@json(variables('v_config_json')).SourceContainerName",
															"p_folder_path": "@json(variables('v_config_json')).SourceFolderPath",
															"p_file_name": "@item().name",
															"p_adls_url": {
																"value": "@pipeline().globalParameters.gp_adls_url",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_binary_blk",
														"type": "DatasetReference",
														"parameters": {
															"p_container_name": "quarantine",
															"p_folder_path": {
																"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(utcNow(),'yyyy'),\n    '/',\n    formatDateTime(utcNow(),'MM'),\n    '/',\n    formatDateTime(utcNow(),'dd'),\n    '/'\n)",
																"type": "Expression"
															},
															"p_file_name": "@item().name",
															"p_adls_url": {
																"value": "@pipeline().globalParameters.gp_adls_url",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								},
								{
									"name": "sp_start_run",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "gm_get_file_metadata",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[audit].[usp_StartRun]",
											"storedProcedureParameters": {
												"AdfPipelineName": {
													"type": "String",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												"BatchDate": {
													"type": "DateTime",
													"value": {
														"value": "@pipeline().parameters.p_batch_date",
														"type": "Expression"
													}
												},
												"ChildRunId": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												"EnvironmentName": {
													"type": "String",
													"value": {
														"value": "@pipeline().globalParameters.EnvironmentName",
														"type": "Expression"
													}
												},
												"IntegrationId": {
													"type": "Int64",
													"value": {
														"value": "@pipeline().parameters.p_integration_id",
														"type": "Expression"
													}
												},
												"MasterRunId": {
													"type": "String",
													"value": {
														"value": "@pipeline()?.TriggeredByPipelineRunId",
														"type": "Expression"
													}
												},
												"RetryAttempt": {
													"type": "Int32",
													"value": "1"
												},
												"SourceFileChecksum": {
													"type": "String",
													"value": null
												},
												"SourceFileName": {
													"type": "String",
													"value": {
														"value": "@item().name",
														"type": "Expression"
													}
												},
												"SourceFilePath": {
													"type": "String",
													"value": {
														"value": "@concat(\n  json(variables('v_config_json')).SourceContainerName,\n  '/',\n  json(variables('v_config_json')).SourceFolderPath\n)",
														"type": "Expression"
													}
												},
												"SourceFileSizeBytes": {
													"type": "Int64",
													"value": {
														"value": "@activity('gm_get_file_metadata').output.size",
														"type": "Expression"
													}
												},
												"TriggerType": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerType",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_sql",
											"type": "DatasetReference",
											"parameters": {
												"p_schema": "config",
												"p_table": "IntegrationConfig",
												"p_db_domain_name": {
													"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
													"type": "Expression"
												},
												"p_db_name": {
													"value": "@pipeline().globalParameters.DB_NAME",
													"type": "Expression"
												}
											}
										}
									}
								},
								{
									"name": "sv_run_id",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "sp_start_run",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_run_id",
										"value": {
											"value": "@activity('sp_start_run').output.firstRow.RunId",
											"type": "Expression"
										}
									}
								},
								{
									"name": "gm_get_file_metadata",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_adls_binary_blk",
											"type": "DatasetReference",
											"parameters": {
												"p_container_name": "@json(variables('v_config_json')).SourceContainerName",
												"p_folder_path": "@json(variables('v_config_json')).SourceFolderPath",
												"p_file_name": "@item().name",
												"p_adls_url": {
													"value": "@pipeline().globalParameters.gp_adls_url",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"size"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "switch",
									"type": "Switch",
									"dependsOn": [
										{
											"activity": "if_valid_file",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@if(\n    equals(variables('v_if_preprocessed'), true),\n    toUpper(json(variables('v_config_json')).SourceFileFormat),\n    'SKIP'\n)",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "CSV",
												"activities": [
													{
														"name": "v_partition_count_csv",
														"type": "SetVariable",
														"dependsOn": [],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "v_partition_count",
															"value": {
																"value": "@min(\n    mul(\n        add(\n            div(\n                div(\n                    activity('gm_get_file_metadata').output.size,\n                    1048576\n                ),\n                json(variables('v_config_json')).LargeFileThresholdMB\n            ),\n            1\n        ),\n        2\n    ),\n    32\n)",
																"type": "Expression"
															}
														}
													},
													{
														"name": "df_csv",
														"type": "ExecuteDataFlow",
														"dependsOn": [
															{
																"activity": "v_partition_count_csv",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"dataflow": {
																"referenceName": "df_largefile_csv",
																"type": "DataFlowReference",
																"parameters": {
																	"p_partition_count": {
																		"value": "@variables('v_partition_count')",
																		"type": "Expression"
																	}
																},
																"datasetParameters": {
																	"csvsource": {
																		"p_container": "@json(variables('v_config_json')).SourceContainerName",
																		"p_folder": "@json(variables('v_config_json')).SourceFolderPath",
																		"p_file_name": {
																			"value": "@item().name",
																			"type": "Expression"
																		},
																		"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																	},
																	"csvtarget": {
																		"p_container": {
																			"value": "staged",
																			"type": "Expression"
																		},
																		"p_folder": {
																			"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																			"type": "Expression"
																		},
																		"p_file_name": {
																			"value": "*",
																			"type": "Expression"
																		},
																		"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																	}
																}
															},
															"staging": {},
															"compute": {
																"coreCount": 32,
																"computeType": "MemoryOptimized"
															},
															"traceLevel": "Fine",
															"runConcurrently": true
														}
													},
													{
														"name": "gm_get_partition_file_csv",
														"type": "GetMetadata",
														"dependsOn": [
															{
																"activity": "df_csv",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"dataset": {
																"referenceName": "ds_adls_delimited_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "staged",
																	"p_folder": {
																		"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																		"type": "Expression"
																	},
																	"p_file_name": "*",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															},
															"fieldList": [
																"childItems"
															],
															"storeSettings": {
																"type": "AzureBlobFSReadSettings",
																"recursive": true,
																"enablePartitionDiscovery": false
															},
															"formatSettings": {
																"type": "DelimitedTextReadSettings"
															}
														}
													},
													{
														"name": "fliter_csv_partrion_file",
														"type": "Filter",
														"dependsOn": [
															{
																"activity": "gm_get_partition_file_csv",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"userProperties": [],
														"typeProperties": {
															"items": {
																"value": "@activity('gm_get_partition_file_csv').output.childItems",
																"type": "Expression"
															},
															"condition": {
																"value": "@startsWith(item().name,'part-')",
																"type": "Expression"
															}
														}
													},
													{
														"name": "cp_aggregate_csv",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "fliter_csv_partrion_file",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": false,
																	"wildcardFolderPath": {
																		"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																		"type": "Expression"
																	},
																	"wildcardFileName": "part-*.csv",
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "DelimitedTextSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings",
																	"copyBehavior": "MergeFiles"
																},
																"formatSettings": {
																	"type": "DelimitedTextWriteSettings",
																	"quoteAllText": true,
																	"fileExtension": ".txt"
																}
															},
															"enableStaging": false,
															"parallelCopies": 20,
															"dataIntegrationUnits": 32,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "ds_adls_largefile_csv_wildcard",
																"type": "DatasetReference",
																"parameters": {
																	"p_container_name": "staged",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_adls_delimited_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "@json(variables('v_config_json')).TargetContainerName",
																	"p_folder": "@json(variables('v_config_json')).TargetFolderPath",
																	"p_file_name": "@item().name",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															}
														]
													},
													{
														"name": "cp_file_to_archive_csv",
														"description": "Moves file to archive container",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "cp_aggregate_csv",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "DelimitedTextSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "DelimitedTextWriteSettings",
																	"quoteAllText": true,
																	"fileExtension": ".txt"
																}
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "ds_adls_delimited_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "@json(variables('v_config_json')).SourceContainerName",
																	"p_folder": "@json(variables('v_config_json')).SourceFolderPath",
																	"p_file_name": "@item().name",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_adls_delimited_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "archive",
																	"p_folder": {
																		"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																		"type": "Expression"
																	},
																	"p_file_name": "@item().name",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															}
														]
													},
													{
														"name": "lkp_complete_run_success_csv",
														"type": "Lookup",
														"dependsOn": [
															{
																"activity": "cp_aggregate_csv",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "AzureSqlSource",
																"sqlReaderStoredProcedureName": "[[audit].[usp_CompleteRun]",
																"storedProcedureParameters": {
																	"ErrorActivity": {
																		"type": "String",
																		"value": null
																	},
																	"ErrorCode": {
																		"type": "String",
																		"value": null
																	},
																	"ErrorMessage": {
																		"type": "String",
																		"value": null
																	},
																	"RecordsRead": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsRejected": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsSkipped": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsWritten": {
																		"type": "Int64",
																		"value": null
																	},
																	"RunId": {
																		"type": "Int64",
																		"value": {
																			"value": "@variables('v_run_id')",
																			"type": "Expression"
																		}
																	},
																	"Status": {
																		"type": "Int32",
																		"value": "2"
																	}
																},
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"dataset": {
																"referenceName": "ds_sql",
																"type": "DatasetReference",
																"parameters": {
																	"p_schema": "config",
																	"p_table": "IntegrationConfig",
																	"p_db_domain_name": {
																		"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																		"type": "Expression"
																	},
																	"p_db_name": {
																		"value": "@pipeline().globalParameters.DB_NAME",
																		"type": "Expression"
																	}
																}
															}
														}
													},
													{
														"name": "wb_postprocess_csv",
														"description": "Invokes the pre-process azure function and passes 3 parameters to perform file validation",
														"type": "WebActivity",
														"dependsOn": [
															{
																"activity": "cp_aggregate_csv",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 1,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"method": "POST",
															"headers": {
																"Content-Type": "application/json",
																"Ocp-Apim-Subscription-Key": "f6cc6231b66b47a8a6a23573a1737b86"
															},
															"url": {
																"value": "@{pipeline().globalParameters.gp_postprocess_function_url}",
																"type": "Expression"
															},
															"body": {
																"value": "{\n  \"integration_id\": \"@{json(variables('v_config_json')).IntegrationId}\",\n  \"pipeline_name\": \"@{pipeline().Pipeline}\",\n  \"run_id\": \"@{pipeline().RunId}\",\n  \"status\": \"Success\",\n  \"trigger_type\": \"@{pipeline().parameters.p_trigger_type}\"\n}\n ",
																"type": "Expression"
															}
														}
													},
													{
														"name": "lkp_log_error_copy_file_csv",
														"type": "Lookup",
														"dependsOn": [
															{
																"activity": "cp_aggregate_csv",
																"dependencyConditions": [
																	"Failed"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "AzureSqlSource",
																"sqlReaderStoredProcedureName": "[[audit].[usp_LogError]",
																"storedProcedureParameters": {
																	"ActivityName": {
																		"type": "String",
																		"value": "cp_aggregate_csv"
																	},
																	"ActivityType": {
																		"type": "String",
																		"value": "Copy data"
																	},
																	"ErrorCode": {
																		"type": "String",
																		"value": {
																			"value": "@activity('cp_aggregate_csv').error.errorCode",
																			"type": "Expression"
																		}
																	},
																	"ErrorMessage": {
																		"type": "String",
																		"value": {
																			"value": "@activity('cp_aggregate_csv').error.message",
																			"type": "Expression"
																		}
																	},
																	"RunId": {
																		"type": "Int64",
																		"value": {
																			"value": "@variables('v_run_id')",
																			"type": "Expression"
																		}
																	}
																},
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"dataset": {
																"referenceName": "ds_sql",
																"type": "DatasetReference",
																"parameters": {
																	"p_schema": "config",
																	"p_table": "IntegrationConfig",
																	"p_db_domain_name": {
																		"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																		"type": "Expression"
																	},
																	"p_db_name": {
																		"value": "@pipeline().globalParameters.DB_NAME",
																		"type": "Expression"
																	}
																}
															}
														}
													},
													{
														"name": "lkp_complete_run_copy_fail_csv",
														"type": "Lookup",
														"dependsOn": [
															{
																"activity": "cp_aggregate_csv",
																"dependencyConditions": [
																	"Failed"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "AzureSqlSource",
																"sqlReaderStoredProcedureName": "[[audit].[usp_CompleteRun]",
																"storedProcedureParameters": {
																	"ErrorActivity": {
																		"type": "String",
																		"value": "cp_aggregate_csv"
																	},
																	"ErrorCode": {
																		"type": "String",
																		"value": {
																			"value": "@activity('cp_aggregate_csv').error.errorCode",
																			"type": "Expression"
																		}
																	},
																	"ErrorMessage": {
																		"type": "String",
																		"value": {
																			"value": "@activity('cp_aggregate_csv').error.message",
																			"type": "Expression"
																		}
																	},
																	"RecordsRead": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsRejected": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsSkipped": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsWritten": {
																		"type": "Int64",
																		"value": null
																	},
																	"RunId": {
																		"type": "Int64",
																		"value": {
																			"value": "@variables('v_run_id')",
																			"type": "Expression"
																		}
																	},
																	"Status": {
																		"type": "Int32",
																		"value": "3"
																	}
																},
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"dataset": {
																"referenceName": "ds_sql",
																"type": "DatasetReference",
																"parameters": {
																	"p_schema": "config",
																	"p_table": "IntegrationConfig",
																	"p_db_domain_name": {
																		"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																		"type": "Expression"
																	},
																	"p_db_name": {
																		"value": "@pipeline().globalParameters.DB_NAME",
																		"type": "Expression"
																	}
																}
															}
														}
													},
													{
														"name": "cp_file_to_quarantine_copy_fail_csv",
														"description": "Moves file to quarantine container",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "cp_aggregate_csv",
																"dependencyConditions": [
																	"Failed"
																]
															}
														],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": false
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "DelimitedTextSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "DelimitedTextWriteSettings",
																	"quoteAllText": true,
																	"fileExtension": ".txt"
																}
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "ds_adls_delimited_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "@json(variables('v_config_json')).SourceContainerName",
																	"p_folder": "@json(variables('v_config_json')).SourceFolderPath",
																	"p_file_name": "@item().name",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_adls_delimited_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "quarantine",
																	"p_folder": "@concat(     string(pipeline().parameters.p_integration_id),     '/',     formatDateTime(utcNow(),'yyyy'),     '/',     formatDateTime(utcNow(),'MM'),     '/',     formatDateTime(utcNow(),'dd'),     '/' )",
																	"p_file_name": "@item().name",
																	"p_adls_url": "@pipeline().globalParameters.EnvironmentName"
																}
															}
														]
													}
												]
											},
											{
												"value": "PARQUET",
												"activities": [
													{
														"name": "v_partition_count_parquet",
														"type": "SetVariable",
														"dependsOn": [],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "v_partition_count",
															"value": {
																"value": "@min(\n    mul(\n        add(\n            div(\n                div(\n                    activity('gm_get_file_metadata').output.size,\n                    1048576\n                ),\n                json(variables('v_config_json')).LargeFileThresholdMB\n            ),\n            1\n        ),\n        2\n    ),\n    32\n)",
																"type": "Expression"
															}
														}
													},
													{
														"name": "df_parquet",
														"type": "ExecuteDataFlow",
														"dependsOn": [
															{
																"activity": "v_partition_count_parquet",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"dataflow": {
																"referenceName": "df_largefile_parquet",
																"type": "DataFlowReference",
																"parameters": {
																	"p_partition_count": {
																		"value": "@variables('v_partition_count')",
																		"type": "Expression"
																	}
																},
																"datasetParameters": {
																	"parquetsource": {
																		"p_container": "@json(variables('v_config_json')).SourceContainerName",
																		"p_folder": "@json(variables('v_config_json')).SourceFolderPath",
																		"p_file": "@item().name",
																		"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																	},
																	"parquetoutput": {
																		"p_container": "staged",
																		"p_folder": {
																			"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																			"type": "Expression"
																		},
																		"p_file": "*",
																		"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																	}
																}
															},
															"staging": {},
															"compute": {
																"coreCount": 32,
																"computeType": "MemoryOptimized"
															},
															"traceLevel": "Fine"
														}
													},
													{
														"name": "gm_get_partition_file_parquet",
														"type": "GetMetadata",
														"dependsOn": [
															{
																"activity": "df_parquet",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"dataset": {
																"referenceName": "ds_adls_parquet_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "staged",
																	"p_folder": {
																		"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																		"type": "Expression"
																	},
																	"p_file": "*",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															},
															"fieldList": [
																"childItems"
															],
															"storeSettings": {
																"type": "AzureBlobFSReadSettings",
																"recursive": true,
																"enablePartitionDiscovery": false
															},
															"formatSettings": {
																"type": "ParquetReadSettings"
															}
														}
													},
													{
														"name": "fl_parquet_partrion",
														"type": "Filter",
														"dependsOn": [
															{
																"activity": "gm_get_partition_file_parquet",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"userProperties": [],
														"typeProperties": {
															"items": {
																"value": "@activity('gm_get_partition_file_parquet').output.childItems",
																"type": "Expression"
															},
															"condition": {
																"value": "@startsWith(item().name,'part-')",
																"type": "Expression"
															}
														}
													},
													{
														"name": "cp_aggregate_parquet",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "fl_parquet_partrion",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "ParquetSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": false,
																	"wildcardFolderPath": {
																		"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																		"type": "Expression"
																	},
																	"wildcardFileName": "part-*.parquet",
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "ParquetReadSettings"
																}
															},
															"sink": {
																"type": "ParquetSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings",
																	"copyBehavior": "MergeFiles"
																},
																"formatSettings": {
																	"type": "ParquetWriteSettings"
																}
															},
															"enableStaging": false,
															"parallelCopies": 8,
															"dataIntegrationUnits": 32,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "ds_adls_largefile_parquet_wildcard",
																"type": "DatasetReference",
																"parameters": {
																	"p_container_name": "staged",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_adls_parquet_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "@json(variables('v_config_json')).TargetContainerName",
																	"p_folder": "@json(variables('v_config_json')).TargetFolderPath",
																	"p_file": "@item().name",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															}
														]
													},
													{
														"name": "cp_file_to_archive_parquet",
														"description": "Moves file to archive container",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "cp_aggregate_parquet",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "ParquetSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true
																},
																"formatSettings": {
																	"type": "ParquetReadSettings"
																}
															},
															"sink": {
																"type": "ParquetSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "ParquetWriteSettings"
																}
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "ds_adls_parquet_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "@json(variables('v_config_json')).SourceContainerName",
																	"p_folder": "@json(variables('v_config_json')).SourceFolderPath",
																	"p_file": "@item().name",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_adls_parquet_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "archive",
																	"p_folder": {
																		"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																		"type": "Expression"
																	},
																	"p_file": "@item().name",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															}
														]
													},
													{
														"name": "lkp_complete_run_success_parquet",
														"type": "Lookup",
														"dependsOn": [
															{
																"activity": "cp_aggregate_parquet",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "AzureSqlSource",
																"sqlReaderStoredProcedureName": "[[audit].[usp_CompleteRun]",
																"storedProcedureParameters": {
																	"ErrorActivity": {
																		"type": "String",
																		"value": null
																	},
																	"ErrorCode": {
																		"type": "String",
																		"value": null
																	},
																	"ErrorMessage": {
																		"type": "String",
																		"value": null
																	},
																	"RecordsRead": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsRejected": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsSkipped": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsWritten": {
																		"type": "Int64",
																		"value": null
																	},
																	"RunId": {
																		"type": "Int64",
																		"value": {
																			"value": "@variables('v_run_id')",
																			"type": "Expression"
																		}
																	},
																	"Status": {
																		"type": "Int32",
																		"value": "2"
																	}
																},
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"dataset": {
																"referenceName": "ds_sql",
																"type": "DatasetReference",
																"parameters": {
																	"p_schema": "config",
																	"p_table": "IntegrationConfig",
																	"p_db_domain_name": {
																		"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																		"type": "Expression"
																	},
																	"p_db_name": {
																		"value": "@pipeline().globalParameters.DB_NAME",
																		"type": "Expression"
																	}
																}
															}
														}
													},
													{
														"name": "wb_postprocess_parquet",
														"description": "Invokes the pre-process azure function and passes 3 parameters to perform file validation",
														"type": "WebActivity",
														"dependsOn": [
															{
																"activity": "cp_aggregate_parquet",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 1,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"method": "POST",
															"headers": {
																"Content-Type": "application/json",
																"Ocp-Apim-Subscription-Key": "f6cc6231b66b47a8a6a23573a1737b86"
															},
															"url": {
																"value": "@{pipeline().globalParameters.gp_postprocess_function_url}",
																"type": "Expression"
															},
															"body": {
																"value": "{\n  \"integration_id\": \"@{json(variables('v_config_json')).IntegrationId}\",\n  \"pipeline_name\": \"@{pipeline().Pipeline}\",\n  \"run_id\": \"@{pipeline().RunId}\",\n  \"status\": \"Success\",\n  \"trigger_type\": \"@{pipeline().parameters.p_trigger_type}\"\n}\n ",
																"type": "Expression"
															}
														}
													},
													{
														"name": "lkp_log_error_copy_file_parquet",
														"type": "Lookup",
														"dependsOn": [
															{
																"activity": "cp_aggregate_parquet",
																"dependencyConditions": [
																	"Failed"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "AzureSqlSource",
																"sqlReaderStoredProcedureName": "[[audit].[usp_LogError]",
																"storedProcedureParameters": {
																	"ActivityName": {
																		"type": "String",
																		"value": "cp_aggregate_parquet"
																	},
																	"ActivityType": {
																		"type": "String",
																		"value": "Copy data"
																	},
																	"ErrorCode": {
																		"type": "String",
																		"value": {
																			"value": "@activity('cp_aggregate_parquet').error.errorCode",
																			"type": "Expression"
																		}
																	},
																	"ErrorMessage": {
																		"type": "String",
																		"value": {
																			"value": "@activity('cp_aggregate_parquet').error.message",
																			"type": "Expression"
																		}
																	},
																	"RunId": {
																		"type": "Int64",
																		"value": {
																			"value": "@variables('v_run_id')",
																			"type": "Expression"
																		}
																	}
																},
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"dataset": {
																"referenceName": "ds_sql",
																"type": "DatasetReference",
																"parameters": {
																	"p_schema": "config",
																	"p_table": "IntegrationConfig",
																	"p_db_domain_name": {
																		"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																		"type": "Expression"
																	},
																	"p_db_name": {
																		"value": "@pipeline().globalParameters.DB_NAME",
																		"type": "Expression"
																	}
																}
															}
														}
													},
													{
														"name": "lkp_complete_run_copy_fail_parquet",
														"type": "Lookup",
														"dependsOn": [
															{
																"activity": "cp_aggregate_parquet",
																"dependencyConditions": [
																	"Failed"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "AzureSqlSource",
																"sqlReaderStoredProcedureName": "[[audit].[usp_CompleteRun]",
																"storedProcedureParameters": {
																	"ErrorActivity": {
																		"type": "String",
																		"value": "cp_aggregate_parquet"
																	},
																	"ErrorCode": {
																		"type": "String",
																		"value": {
																			"value": "@activity('cp_aggregate_parquet').error.errorCode",
																			"type": "Expression"
																		}
																	},
																	"ErrorMessage": {
																		"type": "String",
																		"value": {
																			"value": "@activity('cp_aggregate_parquet').error.message",
																			"type": "Expression"
																		}
																	},
																	"RecordsRead": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsRejected": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsSkipped": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsWritten": {
																		"type": "Int64",
																		"value": null
																	},
																	"RunId": {
																		"type": "Int64",
																		"value": {
																			"value": "@variables('v_run_id')",
																			"type": "Expression"
																		}
																	},
																	"Status": {
																		"type": "Int32",
																		"value": "3"
																	}
																},
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"dataset": {
																"referenceName": "ds_sql",
																"type": "DatasetReference",
																"parameters": {
																	"p_schema": "config",
																	"p_table": "IntegrationConfig",
																	"p_db_domain_name": {
																		"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																		"type": "Expression"
																	},
																	"p_db_name": {
																		"value": "@pipeline().globalParameters.DB_NAME",
																		"type": "Expression"
																	}
																}
															}
														}
													},
													{
														"name": "cp_file_to_quarantine_copy_fail_parquet",
														"description": "Moves file to quarantine container",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "cp_aggregate_parquet",
																"dependencyConditions": [
																	"Failed"
																]
															}
														],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "ParquetSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "ParquetReadSettings"
																}
															},
															"sink": {
																"type": "ParquetSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "ParquetWriteSettings"
																}
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "ds_adls_parquet_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "@json(variables('v_config_json')).SourceContainerName",
																	"p_folder": "@json(variables('v_config_json')).SourceFolderPath",
																	"p_file": "@item().name",
																	"p_adls_url": {
																		"value": "@pipeline().globalParameters.gp_adls_url",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_adls_parquet_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "quarantine",
																	"p_folder": "@concat(     string(pipeline().parameters.p_integration_id),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'MM'),     '/',     formatDateTime(pipeline().parameters.p_batch_date,'dd'),     '/' )",
																	"p_file": "@item().name",
																	"p_adls_url": "@pipeline().globalParameters.EnvironmentName"
																}
															}
														]
													}
												]
											},
											{
												"value": "SKIP",
												"activities": [
													{
														"name": "cp_file_to_quarantine_invalid_file",
														"description": "Moves file to quarantine container",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "BinarySource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": false,
																	"deleteFilesAfterCompletion": true
																},
																"formatSettings": {
																	"type": "BinaryReadSettings"
																}
															},
															"sink": {
																"type": "BinarySink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																}
															},
															"enableStaging": false
														},
														"inputs": [
															{
																"referenceName": "ds_adls_binary_blk",
																"type": "DatasetReference",
																"parameters": {
																	"p_container_name": "@json(variables('v_config_json')).SourceContainerName",
																	"p_folder_path": "@json(variables('v_config_json')).SourceFolderPath",
																	"p_file_name": "@item().name",
																	"p_adls_url": {
																		"value": "@pipeline().globalParameters.gp_adls_url",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_adls_binary_blk",
																"type": "DatasetReference",
																"parameters": {
																	"p_container_name": "quarantine",
																	"p_folder_path": {
																		"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(utcNow(),'yyyy'),\n    '/',\n    formatDateTime(utcNow(),'MM'),\n    '/',\n    formatDateTime(utcNow(),'dd'),\n    '/'\n)",
																		"type": "Expression"
																	},
																	"p_file_name": "@item().name",
																	"p_adls_url": {
																		"value": "@pipeline().globalParameters.gp_adls_url",
																		"type": "Expression"
																	}
																}
															}
														]
													},
													{
														"name": "lkp_complete_run_quarantine_invalid_file",
														"type": "Lookup",
														"dependsOn": [
															{
																"activity": "cp_file_to_quarantine_invalid_file",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "AzureSqlSource",
																"sqlReaderStoredProcedureName": "[[audit].[usp_CompleteRun]",
																"storedProcedureParameters": {
																	"ErrorActivity": {
																		"type": "String",
																		"value": null
																	},
																	"ErrorCode": {
																		"type": "String",
																		"value": null
																	},
																	"ErrorMessage": {
																		"type": "String",
																		"value": "File is quarantined and as i n valid"
																	},
																	"RecordsRead": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsRejected": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsSkipped": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsWritten": {
																		"type": "Int64",
																		"value": null
																	},
																	"RunId": {
																		"type": "Int64",
																		"value": {
																			"value": "@variables('v_run_id')",
																			"type": "Expression"
																		}
																	},
																	"Status": {
																		"type": "Int32",
																		"value": "6"
																	}
																},
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"dataset": {
																"referenceName": "ds_sql",
																"type": "DatasetReference",
																"parameters": {
																	"p_schema": "config",
																	"p_table": "IntegrationConfig",
																	"p_db_domain_name": {
																		"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																		"type": "Expression"
																	},
																	"p_db_name": {
																		"value": "@pipeline().globalParameters.DB_NAME",
																		"type": "Expression"
																	}
																}
															}
														}
													}
												]
											},
											{
												"value": "JSON",
												"activities": [
													{
														"name": "v_partition_count_json",
														"type": "SetVariable",
														"dependsOn": [],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "v_partition_count",
															"value": {
																"value": "@min(\n    mul(\n        add(\n            div(\n                div(\n                    activity('gm_get_file_metadata').output.size,\n                    1048576\n                ),\n                json(variables('v_config_json')).LargeFileThresholdMB\n            ),\n            1\n        ),\n        2\n    ),\n    32\n)",
																"type": "Expression"
															}
														}
													},
													{
														"name": "df_json",
														"type": "ExecuteDataFlow",
														"dependsOn": [
															{
																"activity": "v_partition_count_json",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"dataflow": {
																"referenceName": "df_json_dataflow",
																"type": "DataFlowReference",
																"parameters": {
																	"p_partition_count": {
																		"value": "@variables('v_partition_count')",
																		"type": "Expression"
																	}
																},
																"datasetParameters": {
																	"jsonsource": {
																		"p_container": "@json(variables('v_config_json')).SourceContainerName",
																		"p_folder": "@json(variables('v_config_json')).SourceFolderPath",
																		"p_file": "@item().name",
																		"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																	},
																	"jsontarget": {
																		"p_container": "staged",
																		"p_folder": {
																			"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																			"type": "Expression"
																		},
																		"p_file": {
																			"value": "*",
																			"type": "Expression"
																		},
																		"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																	}
																}
															},
															"staging": {},
															"compute": {
																"coreCount": 32,
																"computeType": "MemoryOptimized"
															},
															"traceLevel": "Fine"
														}
													},
													{
														"name": "gm_get_partition_file_json",
														"type": "GetMetadata",
														"dependsOn": [
															{
																"activity": "df_json",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"dataset": {
																"referenceName": "ds_adls_json_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "staged",
																	"p_folder": {
																		"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																		"type": "Expression"
																	},
																	"p_file": "*",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															},
															"fieldList": [
																"childItems"
															],
															"storeSettings": {
																"type": "AzureBlobFSReadSettings",
																"recursive": true,
																"enablePartitionDiscovery": false
															},
															"formatSettings": {
																"type": "JsonReadSettings"
															}
														}
													},
													{
														"name": "fliter_json_partrion_file",
														"type": "Filter",
														"dependsOn": [
															{
																"activity": "gm_get_partition_file_json",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"userProperties": [],
														"typeProperties": {
															"items": {
																"value": "@activity('gm_get_partition_file_json').output.childItems",
																"type": "Expression"
															},
															"condition": {
																"value": "@startsWith(item().name,'part-')",
																"type": "Expression"
															}
														}
													},
													{
														"name": "cp_aggregate_json",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "fliter_json_partrion_file",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "JsonSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"modifiedDatetimeStart": "2026-06-17T00:00:00.000Z",
																	"wildcardFolderPath": {
																		"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																		"type": "Expression"
																	},
																	"wildcardFileName": "part-*.json",
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "JsonReadSettings"
																}
															},
															"sink": {
																"type": "JsonSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings",
																	"copyBehavior": "MergeFiles"
																},
																"formatSettings": {
																	"type": "JsonWriteSettings"
																}
															},
															"enableStaging": false
														},
														"inputs": [
															{
																"referenceName": "ds_adls_largefile_json_wildcard",
																"type": "DatasetReference",
																"parameters": {
																	"p_container_name": "staged",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_adls_json_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "@json(variables('v_config_json')).TargetContainerName",
																	"p_folder": "@json(variables('v_config_json')).TargetFolderPath",
																	"p_file": "@item().name",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															}
														]
													},
													{
														"name": "cp_file_to_archive_json",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "cp_aggregate_json",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "JsonSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "JsonReadSettings"
																}
															},
															"sink": {
																"type": "JsonSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "JsonWriteSettings"
																}
															},
															"enableStaging": false
														},
														"inputs": [
															{
																"referenceName": "ds_adls_json_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "@json(variables('v_config_json')).SourceContainerName",
																	"p_folder": "@json(variables('v_config_json')).SourceFolderPath",
																	"p_file": "@item().name",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_adls_json_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "archive",
																	"p_folder": {
																		"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																		"type": "Expression"
																	},
																	"p_file": "@item().name",
																	"p_adls_url": "@pipeline().globalParameters.gp_adls_url"
																}
															}
														]
													},
													{
														"name": "lkp_complete_run_success_json",
														"type": "Lookup",
														"dependsOn": [
															{
																"activity": "cp_aggregate_json",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "AzureSqlSource",
																"sqlReaderStoredProcedureName": "[[audit].[usp_CompleteRun]",
																"storedProcedureParameters": {
																	"ErrorActivity": {
																		"type": "String",
																		"value": null
																	},
																	"ErrorCode": {
																		"type": "String",
																		"value": null
																	},
																	"ErrorMessage": {
																		"type": "String",
																		"value": null
																	},
																	"RecordsRead": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsRejected": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsSkipped": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsWritten": {
																		"type": "Int64",
																		"value": null
																	},
																	"RunId": {
																		"type": "Int64",
																		"value": {
																			"value": "@variables('v_run_id')",
																			"type": "Expression"
																		}
																	},
																	"Status": {
																		"type": "Int32",
																		"value": "2"
																	}
																},
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"dataset": {
																"referenceName": "ds_sql",
																"type": "DatasetReference",
																"parameters": {
																	"p_schema": "config",
																	"p_table": "IntegrationConfig",
																	"p_db_domain_name": {
																		"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																		"type": "Expression"
																	},
																	"p_db_name": {
																		"value": "@pipeline().globalParameters.DB_NAME",
																		"type": "Expression"
																	}
																}
															}
														}
													},
													{
														"name": "wb_postprocess_json",
														"description": "Invokes the pre-process azure function and passes 3 parameters to perform file validation",
														"type": "WebActivity",
														"dependsOn": [
															{
																"activity": "cp_aggregate_json",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 1,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"method": "POST",
															"headers": {
																"Content-Type": "application/json",
																"Ocp-Apim-Subscription-Key": "f6cc6231b66b47a8a6a23573a1737b86"
															},
															"url": {
																"value": "@{pipeline().globalParameters.gp_postprocess_function_url}",
																"type": "Expression"
															},
															"body": {
																"value": "{\n  \"integration_id\": \"@{json(variables('v_config_json')).IntegrationId}\",\n  \"pipeline_name\": \"@{pipeline().Pipeline}\",\n  \"run_id\": \"@{pipeline().RunId}\",\n  \"status\": \"Success\",\n  \"trigger_type\": \"@{pipeline().parameters.p_trigger_type}\"\n}\n ",
																"type": "Expression"
															}
														}
													},
													{
														"name": "lkp_log_error_copy_file_json",
														"type": "Lookup",
														"dependsOn": [
															{
																"activity": "cp_aggregate_json",
																"dependencyConditions": [
																	"Failed"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "AzureSqlSource",
																"sqlReaderStoredProcedureName": "[[audit].[usp_LogError]",
																"storedProcedureParameters": {
																	"ActivityName": {
																		"type": "String",
																		"value": "cp_file_pass_through"
																	},
																	"ActivityType": {
																		"type": "String",
																		"value": "Copy data"
																	},
																	"ErrorCode": {
																		"type": "String",
																		"value": {
																			"value": "@activity('cp_aggregate_json').error.errorCode",
																			"type": "Expression"
																		}
																	},
																	"ErrorMessage": {
																		"type": "String",
																		"value": {
																			"value": "@activity('cp_aggregate_json').error.message",
																			"type": "Expression"
																		}
																	},
																	"RunId": {
																		"type": "Int64",
																		"value": {
																			"value": "@variables('v_run_id')",
																			"type": "Expression"
																		}
																	}
																},
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"dataset": {
																"referenceName": "ds_sql",
																"type": "DatasetReference",
																"parameters": {
																	"p_schema": "config",
																	"p_table": "IntegrationConfig",
																	"p_db_domain_name": {
																		"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																		"type": "Expression"
																	},
																	"p_db_name": {
																		"value": "@pipeline().globalParameters.DB_NAME",
																		"type": "Expression"
																	}
																}
															}
														}
													},
													{
														"name": "lkp_complete_run_copy_fail_json",
														"type": "Lookup",
														"dependsOn": [
															{
																"activity": "cp_aggregate_json",
																"dependencyConditions": [
																	"Failed"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "AzureSqlSource",
																"sqlReaderStoredProcedureName": "[[audit].[usp_CompleteRun]",
																"storedProcedureParameters": {
																	"ErrorActivity": {
																		"type": "String",
																		"value": "cp_file_pass_through"
																	},
																	"ErrorCode": {
																		"type": "String",
																		"value": {
																			"value": "@activity('cp_aggregate_json').error.errorCode",
																			"type": "Expression"
																		}
																	},
																	"ErrorMessage": {
																		"type": "String",
																		"value": {
																			"value": "@activity('cp_aggregate_json').error.message",
																			"type": "Expression"
																		}
																	},
																	"RecordsRead": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsRejected": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsSkipped": {
																		"type": "Int64",
																		"value": null
																	},
																	"RecordsWritten": {
																		"type": "Int64",
																		"value": null
																	},
																	"RunId": {
																		"type": "Int64",
																		"value": {
																			"value": "@variables('v_run_id')",
																			"type": "Expression"
																		}
																	},
																	"Status": {
																		"type": "Int32",
																		"value": "3"
																	}
																},
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"dataset": {
																"referenceName": "ds_sql",
																"type": "DatasetReference",
																"parameters": {
																	"p_schema": "config",
																	"p_table": "IntegrationConfig",
																	"p_db_domain_name": {
																		"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
																		"type": "Expression"
																	},
																	"p_db_name": {
																		"value": "@pipeline().globalParameters.DB_NAME",
																		"type": "Expression"
																	}
																}
															}
														}
													},
													{
														"name": "cp_file_to_quarantine_copy_fail_json",
														"description": "Moves file to quarantine container",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "cp_aggregate_json",
																"dependencyConditions": [
																	"Failed"
																]
															}
														],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "JsonSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": false
																},
																"formatSettings": {
																	"type": "JsonReadSettings"
																}
															},
															"sink": {
																"type": "JsonSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "JsonWriteSettings"
																}
															},
															"enableStaging": false
														},
														"inputs": [
															{
																"referenceName": "ds_adls_json_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "@json(variables('v_config_json')).SourceContainerName",
																	"p_folder": {
																		"value": "@json(variables('v_config_json')).SourceFolderPath",
																		"type": "Expression"
																	},
																	"p_file": "@item().name",
																	"p_adls_url": "@pipeline().globalParameters.EnvironmentName"
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_adls_json_src",
																"type": "DatasetReference",
																"parameters": {
																	"p_container": "quarantine",
																	"p_folder": {
																		"value": "@concat(\n    string(pipeline().parameters.p_integration_id),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'yyyy'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'MM'),\n    '/',\n    formatDateTime(pipeline().parameters.p_batch_date,'dd'),\n    '/'\n)",
																		"type": "Expression"
																	},
																	"p_file": "@item().name",
																	"p_adls_url": "@pipeline().globalParameters.EnvironmentName"
																}
															}
														]
													}
												]
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "sp_release_runlock",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "fe_loop_files",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[usp_ReleaseRunLock]",
							"storedProcedureParameters": {
								"IntegrationId": {
									"value": {
										"value": "@pipeline().parameters.p_integration_id",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"RunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "Guid"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql",
							"type": "LinkedServiceReference",
							"parameters": {
								"p_db_domain_name": {
									"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
									"type": "Expression"
								},
								"p_db_name": {
									"value": "@pipeline().globalParameters.DB_NAME",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "fltr_source_format_files",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "gm_get_source_files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('gm_get_source_files').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endsWith(\n    item().name,\n    concat('.', tolower(json(variables('v_config_json')).SourceFileFormat))\n)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_integration_id": {
						"type": "int"
					},
					"p_integration_name": {
						"type": "string"
					},
					"p_trigger_type": {
						"type": "string"
					},
					"p_batch_date": {
						"type": "string"
					},
					"p_master_run_id": {
						"type": "string"
					}
				},
				"variables": {
					"v_config_json": {
						"type": "String"
					},
					"v_run_id": {
						"type": "Integer"
					},
					"v_if_preprocessed": {
						"type": "Boolean"
					},
					"v_partition_count": {
						"type": "Integer"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_largefile_csv')]",
				"[concat(variables('factoryId'), '/dataflows/df_largefile_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_file_orchestrator')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkp_get_due_integrations",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[config].[usp_GetDueIntegrations]",
								"storedProcedureParameters": {
									"AsOfDateTimeUtc": {
										"type": "DateTime",
										"value": null
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"p_schema": "config",
									"p_table": "IntegrationConfig",
									"p_db_domain_name": {
										"value": "@pipeline().globalParameters.DB_DOMAIN_NAME",
										"type": "Expression"
									},
									"p_db_name": {
										"value": "@pipeline().globalParameters.DB_NAME",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "fe_process_integrations",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "sv_trigger_type",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "sv_batch_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lkp_get_due_integrations').output.value",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "sw_child_pipeline_router",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().ChildPipelineName",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "pl_child_copy_file",
												"activities": [
													{
														"name": "pl_child_copy_file",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"policy": {
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "pl_child_copy_file",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"p_integration_id": {
																	"value": "@item().IntegrationId",
																	"type": "Expression"
																},
																"p_integration_name": {
																	"value": "@item().IntegrationName",
																	"type": "Expression"
																},
																"p_batch_date": {
																	"value": "@variables('v_batch_date')",
																	"type": "Expression"
																},
																"p_trigger_type": {
																	"value": "@variables('v_trigger_type')",
																	"type": "Expression"
																},
																"p_master_run_id": {
																	"value": "@pipeline().RunId",
																	"type": "Expression"
																}
															}
														}
													}
												]
											},
											{
												"value": "pl_child_file_to_db",
												"activities": [
													{
														"name": "pl_child_file_to_db",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"policy": {
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "pl_child_file_to_db",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"p_integration_id": {
																	"value": "@item().IntegrationId",
																	"type": "Expression"
																},
																"p_master_run_id": {
																	"value": "@item().IntegrationName",
																	"type": "Expression"
																},
																"p_batch_date": {
																	"value": "@variables('v_batch_date')",
																	"type": "Expression"
																},
																"p_trigger_type": {
																	"value": "@variables('v_trigger_type')",
																	"type": "Expression"
																},
																"p_integration_name": {
																	"value": "@item().IntegrationName",
																	"type": "Expression"
																}
															}
														}
													}
												]
											},
											{
												"value": "pl_child_transform_json",
												"activities": [
													{
														"name": "pl_child_transform_json",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"policy": {
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "pl_child_transform_json",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"p_integration_id": {
																	"value": "@item().IntegrationId",
																	"type": "Expression"
																},
																"p_integration_name": {
																	"value": "@item().IntegrationName",
																	"type": "Expression"
																},
																"p_batch_date": {
																	"value": "@variables('v_batch_date')",
																	"type": "Expression"
																},
																"p_trigger_type": {
																	"value": "@variables('v_trigger_type')",
																	"type": "Expression"
																},
																"p_master_run_id": {
																	"value": "@pipeline().RunId",
																	"type": "Expression"
																}
															}
														}
													}
												]
											},
											{
												"value": "pl_child_transform_delimited",
												"activities": [
													{
														"name": "pl_child_transform_delimited",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"policy": {
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "pl_child_transform_delimited",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"p_integration_id": {
																	"value": "@item().IntegrationId",
																	"type": "Expression"
																},
																"p_trigger_type": {
																	"value": "@variables('v_trigger_type')",
																	"type": "Expression"
																},
																"p_batch_date": {
																	"value": "@variables('v_batch_date')",
																	"type": "Expression"
																},
																"p_integration_name": {
																	"value": "@item().IntegrationName",
																	"type": "Expression"
																},
																"p_master_run_id": {
																	"value": "@pipeline().RunId",
																	"type": "Expression"
																}
															}
														}
													}
												]
											},
											{
												"value": "pl_child_batch_split",
												"activities": [
													{
														"name": "pl_child_batch_split",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"policy": {
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "pl_child_batch_split",
																"type": "PipelineReference"
															},
															"waitOnCompletion": false,
															"parameters": {
																"p_integration_id": {
																	"value": "@item().IntegrationId",
																	"type": "Expression"
																},
																"p_integration_name": {
																	"value": "@item().IntegrationName",
																	"type": "Expression"
																},
																"p_trigger_type": {
																	"value": "@variables('v_trigger_type')",
																	"type": "Expression"
																},
																"p_batch_date": {
																	"value": "@variables('v_batch_date')",
																	"type": "Expression"
																},
																"p_master_run_id": {
																	"value": "@pipeline().RunId",
																	"type": "Expression"
																}
															}
														}
													}
												]
											}
										],
										"defaultActivities": [
											{
												"name": "fail_unknown_child_pipeline",
												"type": "Fail",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"message": {
														"value": "@concat(\r\n    'Unsupported child pipeline returned from metadata: ',\r\n    item().ChildPipelineName\r\n)",
														"type": "Expression"
													},
													"errorCode": "ROUTING_001"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "sv_trigger_type",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "lkp_get_due_integrations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_trigger_type",
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							}
						}
					},
					{
						"name": "sv_batch_date",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "lkp_get_due_integrations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_batch_date",
							"value": {
								"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"v_trigger_type": {
						"type": "String"
					},
					"v_batch_date": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_child_batch_split')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_master_schedule_15min')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Triggers pl_master_file_orchestrator every 15 minutes for scheduled integration processing.",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_file_orchestrator",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2026-06-17T12:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_master_file_orchestrator')]"
			]
		}
	]
}